/*
  Theme Name: Favorite Medium Custom Theme
  Theme URI: http://www.favoritemedium.com/
  Description: This theme is created and Designed By <a href="http://www.favoritemedium.com/"> Favorite Medium </a> 
  Version: 1.0
  Author: FM
  Author URI: http://www.favoritemedium.com/
  Tags: custom, pink, blog type
*/

/*
	custom css override on admin panel
 */
.menu-icon-community-and-event{
	display: none !important;
}

.menu-icon-home-illlustration{
	display: none !important;
}