
.edit-on [data-edit-key]
  position: relative
  &.visuallyhidden
    position: absolute
  &:hover, &:focus, &:active
    cursor: pointer
    &:before
      content: ''
      display: block
      position: absolute
      top: 0
      right: 0
      width: 10px
      height: 10px
      background-color: #3a2
      border-radius 100%

#editor-toggle
  cursor: pointer
  position: fixed
  z-index: 99
  top: 0
  right: 0
  padding: 5px 10px
  font-size: 12px
  background-color: #000
  color: #fff
  span.on
    display: none
  span.off
    display: inline-block
  &.active
    background-color: #3a2;
    span.on
      display: inline-block
    span.off
      display: none

#editor, #editor form
  top: 0
  left: 0
  right: 0
  bottom: 0
  position: fixed
  z-index: 100

#editor
  background-color: rgba(255,255,255,.75)
  display: none
  &.active
    display: block
#editor form
  position: absolute
  height: 290px
  width: 60%
  margin: auto
  background-color: #fff
  padding: 15px
  border: 6px solid rgba(0,0,0,.75)
  border-radius: 10px
  overflow: scroll

  label, textarea, button
    display: inline-block;
    margin-bottom: 5px
    border-radius: 5px

  label
    font-weight: bold
  textarea
    display: block;
    width: 100%
    height: 12em
    border: 0
    box-shadow: 0 0 5px #ccc inset
    border-radius: 5px
    outline: 0
    padding: 5px 10px
    &:hover, &:active, &:focus
      box-shadow: 0 0 5px #333 inset
  span.cancel
    cursor: pointer
    display: inline-block
    float: right
  button
    float: right
    border: 1px solid #000
    background-color: #000
    color: #fff
    -webkit-transition: all .3s
    -moz-transition: all .3s
    transition: all .3s
    &:hover, &:active, &:focus
      background-color: #fff
      color: #000


#build-actions
  position: fixed
  bottom: 0
  right: 0
  z-index: 999
  a
    cursor: pointer
    padding: 5px 10px
    font-size: 12px
    background-color: #000
    color: #fff
    &:hover, &:active, &:focus
      background-color: #3a2;

.for-editor
  display: block;