
@import "vars"
@import "vendor"
@import "helpers"
@import "webfonts"
@import "modules"
@import "layout"
@import "visibility"

[lang="kr"]{
  body{
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
  }
  h1{
    font-size: 2.5em;
    font-weight: 700;
  }
  h2{
    font-size: 1.5em; 
    font-weight: 200;
  }
}

p.languages
  a
    font-size: 16px
    margin: 0 5px
    &.active
      border-bottom: 1px solid #333
  &.white .active
    border-bottom: 1px solid #999


.clock
  font-family: FM-Analog-Clock, sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  font-size: 130px;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
  position: absolute;
  top: 10px;
  left: 10px;

.timepiece
  text-align: center;
  margin: auto;
  width: 147px; 
  height: 147px;
  border-radius(100px);
  background-position: center center;
  background-repeat: no-repeat;
  line-height: 1;
  &.close{
    color: #FFF;
  }
  &.sg{
    background-image:url(/images/offices/sg.png)
    &.close{
      background-image:url(/images/offices/sg_pm.png)
    }
  }
  &.seoul{
    background-image:url(/images/offices/seoul.png)
    &.close{
      background-image:url(/images/offices/seoul_pm.png)
    }
  }
  &.sf{
    background-image:url(/images/offices/sf.png)
    &.close{
      background-image:url(/images/offices/sf_pm.png)
    }
  }

.popout{
  opacity: 0;
  transform: scale(.5);
}

p
  ::selection 
    background: #ce006b; 
    
  ::-moz-selection 
    background: #ce006b; 


::selection {
  background: transparent;
}
::-moz-selection {
  background: transparent;
}

.no-pad{
  padding: 0;
}

.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}

.left{
  float: left;
}
.right{
  float: right;
}
.hide
  display: none !important;
  
.space1{ margin-bottom: 1em !important;}
.space2{ margin-bottom: 2em !important;}
.space3{ margin-bottom: 3em !important;}
.space4{ margin-bottom: 4em !important;}
.space5{ margin-bottom: 5em !important;}

.pr50{
  padding-right: 50px !important;
}

figure header {
  margin: 0 auto
  vertical-align: middle;
  display: table-cell;
}

a:hover{
  background-color: #E20078;
}
