
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden
    border: 0
    clip: rect(0 0 0 0)
    height: 1px
    margin: -1px
    overflow: hidden
    padding: 0
    position: absolute
    width: 1px

.hidden
  display: none !important

.for-editor
  display: none
  
.hide-for-small,
.hide-for-inline-small
  display: none !important
.show-for-small
  display: block !important
.show-for-inline-small
  display: inline-block !important

@media only screen and (min-width: 601px)
  .hide-for-small
    display: inherit !important
  .hide-for-inline-small
    display: inline-block !important
  .show-for-small
  .show-for-inline-small
    display: none !important
