#activities {

	p.description{
		margin: 0;
	}
	.author{
		font-size: 14px;
	}
}

.image-content{
	list-style: none;
	padding: 0;
	li{
		margin-bottom: 30px;
	}
	img{
		width: 60px;
		border-radius: 100px;
		float: left;
	}
	.text-content{
		padding-left: 80px;
	}
	h4{
		margin: 0;
		line-height: 1em;
	}
}

.community-row{
	position: relative;
}
.communities{
	margin-bottom: 50px;
	img{
		margin-bottom: 30px;
	}
	p{
		margin: 20px;
	}
	.btn-wrapper{
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}
.communities:nth-of-type(1n){
	border-right: 3px solid #EAE6E6;
}
.communities:nth-of-type(2n){
	border-right: none;
}

@media only screen and (min-width: 48em){
	.communities.large-6{
		position: static;
	}
	.communities .btn-wrapper{
		width: 50%;
	}
}