
.bubbles
  text-align: center;

.bubble
  cursor: pointer;
  display: inline-block;
  width: 147px;
  height: 147px;
  border-radius: 100%;
  background-color: purple;
  margin: (76px / 3);
  position: relative;

  [class*="bubble-icon-"] {
    width: 56px;
    height: 77px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/images/bubble-sprites.png') no-repeat;
  }
  .bubble-icon-press { background-position: 0 0; }
  .bubble-icon-fact { background-position: 0 -78px; }

  .bubble-bg
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all .3s;

  &.fact .bubble-foot
    padding-top: 30px;
    padding-bottom: 30px;

  .bubble-foot
    opacity: 0;
    padding: 12px 22px;
    position: relative;
    font-weight: normal;
    width: 100%;
    height: 100%;
    text-align: center;
    > span
      position: absolute;
      right: 15px;
      top: 10px;
      font-size: 15px;
      color: #808080;
    > h3, > h4
      margin: 5px auto;
      font-size: 18px;
      color: #999;
    p
      font-size: 15px;
      font-weight: 600;
      color: #fff;
    a
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute
      display: none;
      height: 33px;
      line-height: 33px;
      font-size: 14px;
      font-family: text-font-stack;
      text-transform: uppercase;
      color: #f8f8f8;
      background-color: #404040;

  &.on .bubble-foot
    opacity: 1;
    animation: bubble-fade-in .5s;
    a
      display: block;
  &.off .bubble-foot
    opacity: 0;
    animation: bubble-fade-in .5s reverse;
    a
      display: none;

  &:hover, &:focus, &:active
    .bubble-bg
      background-size: 130%;



.bubble
  .bubble-info
    position: absolute;
    top: 0;
    left: -((240px - 147px) / 2);
    right: -((240px - 147px) / 2);
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 1);
  &.on .bubble-info
    width: 240px;
    height: 172px;
    animation: bubble .5s;
  &.off .bubble-info
    width: 0;
    height: 0;
    animation: bubble .5s reverse;


@-webkit-keyframes bubble-fade-in {
  0% { opacity: 0 }
  95% { opacity: 0 }
  100% { opacity: 1 }
}

@-moz-keyframes bubble-fade-in {
  0% { opacity: 0 }
  95% { opacity: 0 }
  100% { opacity: 1 }
}

@-ms-keyframes bubble-fade-in {
  0% { opacity: 0 }
  95% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes bubble-fade-in {
  0% { opacity: 0 }
  95% { opacity: 0 }
  100% { opacity: 1 }
}

@-webkit-keyframes bubble {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 100%;
    -webkit-transform: rotate(270deg);
    transform: rotate(360deg);
  }
  40% {
    opacity: .5;
    border-radius: 50%;
  }
  50% {
    width: 140px;
    height: 150px;
    opacity: 1;
  }
  80% {
    border-radius: 5%;
  }
  100% {
    width: 240px;
    height: 172px;
    border-radius: 0;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes bubble {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 100%;
    -moz-transform: rotate(270deg);
    transform: rotate(360deg);
  }
  40% {
    opacity: .5;
    border-radius: 50%;
  }
  50% {
    width: 140px;
    height: 150px;
    opacity: 1;
  }
  80% {
    border-radius: 5%;
  }
  100% {
    width: 240px;
    height: 172px;
    border-radius: 0;
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes bubble {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 100%;
    -ms-transform: rotate(270deg);
    transform: rotate(360deg);
  }
  40% {
    opacity: .5;
    border-radius: 50%;
  }
  50% {
    width: 140px;
    height: 150px;
    opacity: 1;
  }
  80% {
    border-radius: 5%;
  }
  100% {
    width: 240px;
    height: 172px;
    border-radius: 0;
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes bubble {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 100%;
    transform: rotate(270deg);
  }
  40% {
    opacity: .5;
    border-radius: 50%;
  }
  50% {
    width: 140px;
    height: 150px;
    opacity: 1;
  }
  80% {
    border-radius: 5%;
  }
  100% {
    width: 240px;
    height: 172px;
    border-radius: 0;
    transform: rotate(360deg);
  }
}