
.carousel-js
  max-width: 1000px
  whitespace: nowrap
  margin-left: auto
  margin-right: auto
  position: relative
  .items
    display: table
    vertical-align: top
    figure
      max-width: 1000px
      text-align: center
      display: table-cell
      position: relative
      whitespace: normal
      user-select: none
    figcaption
      font-size: 14px
      margin-left: 2em
      margin-right: 2em
      display: none;
    p
      margin-bottom: 1em
    img
      max-width: 740px;
      width: 100%;
      margin: auto;
      display: none;
  .max-width
    width: 100%
  .current{
    img, figcaption{
      display: block;
    }
  }

  nav
    display: none
    > .prev, > .next
      top: 0
      bottom: 0
      width: 10%
      position: absolute
      &:hover, &:focus, &:active
        background-color: transparent
      .icon
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        margin: auto
    > .prev
      left: -74px
    > .next
      right: -74px

  footer
    text-align: center
    a
      display: inline-block
      width: 15px
      height: 15px
      background-color: #eae6e6
      border-radius: 100%
      margin: 5px
    .current
      background-color: #888

.gray .carousel-js footer a
  background-color: #eae6e5
  &.current
    background-color: #333

@media only screen and (min-width: 800px)
  .carousel-js nav
    display: block
