
.case-study-roles
  margin 1.5em 0
  color #cacaca
  text-align center
  position relative
  .item:before
    content ' / '
  .item:first-child:before
    content ''
  header,
  header > *
    display inline
    font-weight 500
  &,
  header > *
    font-size 14px
  &:before,
  &:after
    width 6px
    margin-left -3px
    left 50%
    display block
    position absolute
    content ''
  &:before
    top -1em
    border-top 1px solid #cacaca
  &:after
    bottom -1em
    border-bottom 1px solid #cacaca

.case-study-widget
  margin-bottom 2em
  text-align center
  display block

  img
    max-width 100%

@media screen and (min-width: 601px)
  .case-study-widget
    display inline-block
    width 33.33333%
    margin-left -4px