

.client-logos
  text-align: center
  img
    width: 50%
    margin: .5em 10%

@media screen and (min-width:601px)
  .client-logos
    text-align: left
    img
      display: inline-block
      width: 20%
      margin: .5em 2.5%
