
form.contact
  label, input, textarea
    display block

  label
    margin-bottom 10px
    font-weight: 400

  input, textarea
    width 100%
    background-color #eae6e6
    border 0
    font-size 20px
    font-weight 300
    padding ((39 - (20 * 1.375)) / 2)px
    margin-bottom 10px

  input[type="radio"]
    width auto
    display inline-block
    margin-right 10px
    margin-bottom 25px

  textarea
    height ((20 * 1.375) * 13)px

  .submit
    border 0
    color: #fff
    background-color #000
    font-size 22px
    padding .75em 1.5em .5em
    width 100%

@media screen and (min-width: 601px)
  form.contact
    .submit
      width auto
    textarea
      height ((20 * 1.375) * 8)px