
max-width = 100%
columns = 12
gutter = 1.25em

.row {
  width: 100%
  margin-left: auto
  margin-right: auto
  margin-top: 0
  margin-bottom: 0
  max-width: max-width
  *zoom: 1
  &:before,
  &:after {
    content: " "
    display: table
  }
  &:after { clear: both }

  .column,
  .columns {
    position: relative
    padding-left: (gutter / 2)
    padding-right: (gutter / 2)
    width: 100%
    float: left
  }

  &.collapse .column,
  &.collapse .columns {
    position: relative
    padding-left: 0
    padding-right: 0
    float: left
  }
}


.row .row {
  width: auto;
  margin-left: - (gutter / 2)
  margin-right: - (gutter / 2)
  margin-top: 0
  margin-bottom: 0
  max-width: none
  *zoom: 1

  &:before,
  &:after {
    content: " "
    display: table
  }
  &:after { clear: both }

  &.collapse {
    width: auto
    margin: 0
    max-width: none
    *zoom: 1
    &:before, &:after {
      content: " "
      display: table
    }
    &:after { clear: both }
  }
}

unquote('@media only screen {')

.row .column,
.row .columns {
  position: relative
  padding-left: (gutter / 2)
  padding-right: (gutter / 2)
  float: left
}

for num in 1...(columns + 1)
  .row .small-{num} {
    position: relative
    width: (round((100 / columns * num) * 100000) / 100000)%
  }
for num in 1...(columns - 1)
  .row .small-offset-{num} {
    position: relative
    margin-left: (round((100 / columns * num) * 100000) / 100000)%
  }

[class*="column"] + [class*="column"]:last-child { float: right; }

[class*="column"] + [class*="column"].end { float: left; }

.column.small-centered,
.columns.small-centered {
  position: relative
  margin-left: auto
  margin-right: auto
  float: none !important
}

unquote('}')

// Styles for screens that are atleast 768px
unquote('@media only screen and (min-width: 48em) {')

for num in 1...(columns + 1)
  .row .large-{num} {
    position: relative
    width: (round((100 / columns * num) * 100000) / 100000)%
  }
for num in 1...(columns - 1)
  .row .large-offset-{num} {
    position: relative
    margin-left: (round((100 / columns * num) * 100000) / 100000)%
  }

for num in 2...(columns - 1)
  .push-{num} {
    position: relative
    left: (round((100 / columns * num) * 100000) / 100000)%
    right: auto
  }
  .pull-{num} {
    position: relative
    right: (round((100 / columns * num) * 100000) / 100000)%
    left: auto
  }
for num in 2...(columns - 1)
  .small-push-{num} { left: inherit; }
  .small-pull-{num} { right: inherit; }

.column.large-centered,
.columns.large-centered {
  position: relative
  margin-left: auto
  margin-right: auto
  float: none !important
}

unquote('}')
