
.home-illustration
  position: relative
  margin: 20px auto
  padding: 0
  .label
    font-size 20px
    margin-left: -4px
    padding: 20px 20px 25px
    display: inline-block
  .bottom-section .label
    width: 50%
    padding: 50px 20px 20px
  .top-section,
  .bottom-section,
  .middle-section
    text-align: center
    position: relative
    z-index: 10
  .top-section
    z-index: 3
    background-color: #f8f8f8
    margin-bottom: 20px
  .middle-section
    padding-top: 130px
    .center
      top: 0
      left: 0
      right: 0
      margin: auto
      position: absolute
    .right
      margin-left: 30px
  .background-section
    width: 100%
    height: 100%
    top: 0
    position: absolute

.home-illustration .item
  color: #fff
  background-color: #000
  width: 130px
  height: 130px
  border-radius: 100%
  font-weight: 300
  font-size: 20px
  padding-top: 15px
  z-index: 3
  position: relative
  display: inline-block
  .icon
    display: block
    margin: 0 auto

.home-illustration .lines
  > *
    height: 100%
    border-left: 4px dotted #dadada
    position: absolute
  .middle
    left: 50%
    margin-left: -2px
  .last
    right: 0

@media screen and (min-width: 401px)
  .home-illustration
    .middle-section
      padding-top: 0
      .center
        position: relative
    .black-line, .white-line
      height: 8px
      top: 50%
      position: absolute
    .black-line
      left: -15px
      right: -15px
      background-color: #000
      z-index: 2
    .black-line:before,
    .black-line:after
      content: ''
      top: -11px
      border-top: 15px solid transparent
      border-bottom: 15px solid transparent
      position: absolute
    .black-line:before
      left: -28px
      border-right: 28px solid #000
    .black-line:after
      right: -28px
      border-left: 28px solid #000
    .white-line
      width: 1000%
      left: -500%
      background-color: #eae6e6
      border-top: 1px solid #dadada
      border-bottom: 1px solid #dadada

  .home-illustration .item
    display: inline-block
    &.left, &.right
      top: 0
      position: absolute
    &.left
      left: 0
    &.right
      right: 0

@media screen and (min-width: 601px)
  .home-illustration .item
    &.left
      left: 2%
    &.right
      right: 2%

@media screen and (min-width: 701px)
  .home-illustration
    .label
      font-size 26px
      padding: 20px 20px 25px
    .bottom-section .label
      padding: 50px 20px 20px
    .item
      width: 160px
      height: 160px
      padding-top: 25px
      .icon
        margin-bottom: 5px
