
.leader figure, .leader header
  text-align: center;


.leader
  min-height: 200px
  position: relative
  h1, h2
    margin-top: 0
    margin-bottom: 0
  h1
    font-size: 32px
  h2
    font-size: 18px
    margin-bottom: 1.111em

.leader figure
  margin-bottom: 1em
  img
    max-width: 100%
  a
    font-size: 14px
    text-decoration: none

.leader .info-wrapper
  p
    display: none
    margin-bottom: px2em(25px)
  p:first-child
    display: block

.leader .show-details
  display: none

.leader .expand-details
  display: block
  background-image: url('images/sprites/arrow.png')
  width: 19px
  height: 19px
  margin-bottom: px2em(45px)
  background-size: 100%

.leader .show-details:checked + .info-wrapper .expand-details
  transform: rotate(180deg)
  -ms-transform: rotate(180deg)
  -webkit-transform: rotate(180deg)

.leader .show-details:checked + .info-wrapper > p
  display: block

@media screen and (min-width: 601px)
  .leader
    padding-left: 26.5%
    text-align: left
    p:first-child
      margin-top: 0
  .leader figure
    top: 0
    left: 0
    width: 25%
    position: absolute
  .leader header
    text-align: left
    h1, h2
      text-align: left
