
a.action, button.action
  font-size: px2em(24px)
  font-weight: 500
  text-decoration: none
  padding: px2em(12px) px2em(10px) px2em(8px)
  color: #000
  background-color: #fff
  position: relative
  cursor: pointer
  transition: color .3s, background-color .3s
  white-space: nowrap

a.action:hover,
a.action:active,
button.action:hover,
button.action:active
  color: #fff;
  background-color: #000;

a.close
  color: #666
  font-size: 150%
  font-weight: bold
  line-height: 1
  display: inline-block
  margin: .75em .75em 0
  &.small
    font-size: 100%
  &.big
    font-size: 200%
  &:hover, &:focus, &:active
    color: #fff
    background-color: transparent


a.circle
  margin: .5em
  display: inline-block
  transition: background-color .25s
  background-color: #D7CECF
  border-radius: 100%
  &.gray
    background-color: #999
  &:hover, &:focus, &:active
    background-color: #000

a.btn{
  padding: 10px 15px;
  background-color: #EAE6E6;
  text-transform: uppercase;
  font-weight: bold;
}