
a.logo, .logo
  @extend a.plain
  line-height 0
  margin 0
  &.featured img
    width 17.55%
    max-width 200px
    height: auto

a.logo
  display: inline-block
  background-image: url('images/logos/logo-white.svg')
  //background-image: url('images/logos/short-logos.png')
  width: 32px
  height: 30px

  &.footer
    width: 64px !important
    height: 60px !important






@media screen and (min-width: 601px)
  a.logo
    width: 40px
    height: 37px
  span.menu:before
    box-shadow: 0 0px 0 2px, 0 9px 0 2px, 0 18px 0 2px
    width: 1.6em
  #site-head a.main-menu
    width: 50px !important;

  

@media screen and (min-width: 1001px)
  a.logo
    width: 64px
    height: 60px
  span.menu:before
    box-shadow: 0 0px 0 2px, 0 11px 0 2px, 0 22px 0 2px
    width: 1.6em
  #site-head a.main-menu .menu
    top: 20px;

