
.members {
  position: relative
  left: 4px
}
.members figure {
  width: 50%
  max-height: inherit
  margin: 0
  margin-left: -4px
  line-height: 0
  vertical-align: top
  color: #fff
  display: inline-block
  position: relative
  text-align: center
  overflow: hidden
  img {
    width: 100%
    line-height: 0
  }
  figcaption { line-height: 1 }
}

.members .profile {
  padding: .5em 1em
  background-color: #000
  opacity: 0
  top: 0
  left: 0
  right: 0
  bottom: 0
  position: absolute
  header {
    height: 50%
    margin: auto
    top: 0
    left: 0
    right: 0
    bottom: 0
    position: absolute
  }
  .name, .role {
    margin: auto .25em
  }
  .name {
    margin: 0 0 1em
    font-size: px2em(13px)
    font-weight: 200
    line-height: 1.2
    color: #999
  }
  .role {
    font-size: px2em(18px)
    font-weight: 400
    white-space: break-word;
  }
}
.members figure:hover .profile,
.members figure:active .profile,
.members figure:focus .profile { opacity: 1 }
.members figure .banner {
  abs-center()
  line-height: 1
  width: 126px
  height: 100px

  .figure, .label {
    color: #fff
    margin: 0
  }
  .figure {
    font-size: 100px
    font-weight: 500
    line-height: .8
  }
  .label {
    font-size: 16px
    font-weight: 400
  }
}

@media screen and (min-width: 400px) {
}
@media screen and (min-width: 400px) {
  .members .profile {
    .name { font-size: px2em(16px) }
    .role { font-size: px2em(28px) }
  }
}
@media screen and (min-width: 601px) {
  .members .profile {
    .name { font-size: px2em(24px) }
    .role { font-size: px2em(35px) }
  }
}
@media screen and (min-width: 801px) {
  .members figure { 
    width: 20%;
    max-height: 148px;
  }
  .members .profile {
    .name { font-size: px2em(16px) }
    .role { font-size: px2em(20px) }
  }
}
