.modal-open-blog,.modal-open-activities
	.modal
		display: block;

.modal
	background: rgba(0,0,0,.5);
	position: fixed;
	top: 0
	width: 100%;
	height: 100%;
	padding: 20px;
	z-index: 100;
	.wrapper
		background: #EAE6E6;
		padding: 50px 20px;
		height: 100%;		

	.inner
		padding: 20px;
		overflow: auto;
		height: 100%;

	.btn-close
		position: absolute;
		right: 40px;
		font-size: 50px;
		cursor: pointer;
		&:hover
			background: transparent;