
html, body
  overflow-x hidden

[role="main"],
[role="complementary"]
  transition all .3s

// main content body
[role="main"]
  width 100%
  position relative
  /*margin-bottom: 540px*/
  z-index: 3
  background-color: #F8F8F8

// sidebar
[role="complementary"]
  top 0
  margin-left -85%
  width 85%
  height 100%
  z-index 100
  position absolute
  background-color #323232
  box-shadow inset -2px 0px 8px -1px #111111
  position: fixed;
  overflow: auto;

body.active
  [role="main"]
    right -85%
    right auto
    margin-left 300px
  #site-head, #site-foot
    left: 85%

body.active [role="complementary"]
  margin-left 0




@media screen and (min-width: 601px)

  [role="complementary"]
    width 300px
    margin-left -300px
    width: 300px
  body.active
    [role="main"]
      //right -300px
    #site-head, #site-foot, #featured
      transform: translateX(300px) !important;
      left: auto;

