
// Tab items
.tabs {
  background-color: #eae6e6
  text-align: center
  margin-bottom: 23px
  a {
    font-size: 1.2em
    text-decoration: none
    height: 51px
    min-width: 160px
    max-width: 300px
    width: 50%
    margin-top: 1px
    padding: .75em 1em
    color: #000
    background-color: #fff
    display: inline-block
    position: relative

    transition: background-color .5s, color .5s
  }
  a:hover,
  a:active,
  a[data-js-tab-active] {
    color: #fff
    background-color: #000
  }
  a:before {
    content: ''
    display: inline-block
    border-style: solid
    position: absolute
    margin-left: -15px
    left: 50%
    bottom: -(23 + 15)px
    border: 15px solid transparent
    border-top-width: 23px
  }
  a[data-js-tab-active]:before {
    border-top-color: #000
  }
}

// Tab contents
.tab-contents {
  > section {
    position: absolute
    overflow: hidden;
    clip: (0 0 0 0)
    width: 1px
    height: 1px
    &[data-js-tab-active],
    &:target {
      width: auto
      height: auto
      clip: auto
      position: relative
      overflow: auto;
    }
  }
}