
.work-list {
  max-width: 860px
  text-align: left
  margin-left auto
  margin-right auto
  padding-left: 0
  padding-right: 0
}

.work-list .banner{
    background: #f1eff0;
    padding: 30px;
    width: 59%;
    margin: 2em auto;
    text-align: center;
    font-size: 130%;
    display: block;
    span{
      font-weight: bold;
    }
    &:hover{
      background: #000;
      color: #FFF;
    }
  }

.work-list .item {
  @extend a.plain
  line-height: 0
  margin-bottom: 6px
  display: inline-block
  position: relative
  vertical-align: top
  width: 90%
  display: block
  margin: auto

  h3 {
    color: #999
    font-weight: 300
    font-size: 24px
    margin-top: 1.5em
    margin-bottom: 1.5em
  }
  h4 {
    font-weight: 500
    font-size: 35px
    color: #fff
    margin: 0
  }
  img { width: 100% }
  img.default {
    width: auto
    max-width: 100%
  }
  figcaption {
    display: block
    height: 0
    overflow: hidden
    opacity: 0
    height: auto
    line-height: 1
    position: absolute
    text-align: center
    padding: 1em
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: #000
  }
  &:hover figcaption,
  &:active figcaption,
  &:focus figcaption {
    display: block
    opacity 1
    height: auto
    transition: opacity .25s ease-out
  }
}

.timepiece{
  margin: auto;
}
address,.address{
  text-align: center;
}

.work-list.address {
  img { margin: 10px }
  figcaption {
    padding: 1em .5em
    position: static
    display: block
    line-height: text-line-height
    text-align: left
    background-color: transparent

    address { font-style: normal }

    .title {
      // font-weight: 400
      font-size: 24px
    }
  }
}
.work-list.address {
  //padding-left: 2em
  //padding-right: 2em
  figcaption{
    opacity: 1
  }
}
@media screen and (min-width:481px) {
  .work-list.address {
    //padding-left: px2em(60px)
    //padding-right: px2em(60px)
  }
  .work-list .item{
  }
}

@media screen and (min-width: 601px) {
  .work-list .item {
    /*margin-left: -4px*/
    /*padding-right: 10px*/
    display: inline-block;
    padding: 5px;
    figcaption { 
      /*right: 10px */
      margin: 5px;
    }
  }
  .work-list.three .item { width: 33.333333% }

}
@media screen and (min-width: 1001px) {
  .work-list .item { width: 33.333333% }
}