@css {

  /* Thin */
  @font-face {
      font-weight: 100;
      font-style: normal;
      font-family: 'Pluto Condensed';
      src: url('webfonts/PlutoCondThin-webfont.eot');
      src: url('webfonts/PlutoCondThin-webfont.eot?#iefix') format('embedded-opentype'),
           url('webfonts/PlutoCondThin-webfont.woff') format('woff'),
           url('webfonts/PlutoCondThin-webfont.ttf') format('truetype'),
           url('webfonts/PlutoCondThin-webfont.svg#PlutoThinRegular') format('svg');
  }

  /* Extra Light */
  @font-face {
      font-weight: 200;
      font-style: normal;
      font-family: 'Pluto Condensed';
      src: url('webfonts/PlutoCondExtraLight-webfont.eot');
      src: url('webfonts/PlutoCondExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
           url('webfonts/PlutoCondExtraLight-webfont.woff') format('woff'),
           url('webfonts/PlutoCondExtraLight-webfont.ttf') format('truetype'),
           url('webfonts/PlutoCondExtraLight-webfont.svg#PlutoExtraLightRegular') format('svg');
  }

  /* Light */
  @font-face {
      font-weight: 300;
      font-style: normal;
      font-family: 'Pluto Condensed';
      src: url('webfonts/PlutoCondLight-webfont.eot');
      src: url('webfonts/PlutoCondLight-webfont.eot?#iefix') format('embedded-opentype'),
           url('webfonts/PlutoCondLight-webfont.woff') format('woff'),
           url('webfonts/PlutoCondLight-webfont.ttf') format('truetype'),
           url('webfonts/PlutoCondLight-webfont.svg#PlutoLightRegular') format('svg');
  }

  /* Regular */
  @font-face {
      font-weight: normal;
      font-style: normal;
      font-family: 'Pluto Condensed';
      src: url('webfonts/PlutoCondRegular-webfont.eot');
      src: url('webfonts/PlutoCondRegular-webfont.eot?#iefix') format('embedded-opentype'),
           url('webfonts/PlutoCondRegular-webfont.woff') format('woff'),
           url('webfonts/PlutoCondRegular-webfont.ttf') format('truetype'),
           url('webfonts/PlutoCondRegular-webfont.svg#PlutoRegularRegular') format('svg');
  }

  /* Medium */
  @font-face {
      font-weight: 500;
      font-style: normal;
      font-family: 'Pluto Condensed';
      src: url('webfonts/PlutoCondMedium-webfont.eot');
      src: url('webfonts/PlutoCondMedium-webfont.eot?#iefix') format('embedded-opentype'),
           url('webfonts/PlutoCondMedium-webfont.woff') format('woff'),
           url('webfonts/PlutoCondMedium-webfont.ttf') format('truetype'),
           url('webfonts/PlutoCondMedium-webfont.svg#PlutoMediumRegular') format('svg');
  }

  /* Bold */
  @font-face {
      font-weight: 600;
      font-style: normal;
      font-family: 'Pluto Condensed';
      src: url('webfonts/PlutoCondBold-webfont.eot');
      src: url('webfonts/PlutoCondBold-webfont.eot?#iefix') format('embedded-opentype'),
           url('webfonts/PlutoCondBold-webfont.woff') format('woff'),
           url('webfonts/PlutoCondBold-webfont.ttf') format('truetype'),
           url('webfonts/PlutoCondBold-webfont.svg#PlutoBoldRegular') format('svg');
  }

  /* Heavy */
  @font-face {
      font-weight: 700;
      font-style: normal;
      font-family: 'Pluto Condensed';
      src: url('webfonts/PlutoCondHeavy-webfont.eot');
      src: url('webfonts/PlutoCondHeavy-webfont.eot?#iefix') format('embedded-opentype'),
           url('webfonts/PlutoCondHeavy-webfont.woff') format('woff'),
           url('webfonts/PlutoCondHeavy-webfont.ttf') format('truetype'),
           url('webfonts/PlutoCondHeavy-webfont.svg#PlutoHeavyRegular') format('svg');
  }

  /* Black */
  @font-face {
      font-weight: 800;
      font-style: normal;
      font-family: 'Pluto Condensed';
      src: url('webfonts/PlutoCondBlack-webfont.eot');
      src: url('webfonts/PlutoCondBlack-webfont.eot?#iefix') format('embedded-opentype'),
           url('webfonts/PlutoCondBlack-webfont.woff') format('woff'),
           url('webfonts/PlutoCondBlack-webfont.ttf') format('truetype'),
           url('webfonts/PlutoCondBlack-webfont.svg#PlutoBlackRegular') format('svg');
  }

}