@css {

  /* Thin */
  @font-face {
      font-weight: 100;
      font-style: normal;
      font-family: 'Pluto';
      src: url('webfonts/PlutoThin-webfont.eot');
      src: url('webfonts/PlutoThin-webfont.eot?#iefix') format('embedded-opentype'),
           url('webfonts/PlutoThin-webfont.woff') format('woff'),
           url('webfonts/PlutoThin-webfont.ttf') format('truetype'),
           url('webfonts/PlutoThin-webfont.svg#PlutoThinRegular') format('svg');
  }

  /* Extra Light */
  @font-face {
      font-weight: 200;
      font-style: normal;
      font-family: 'Pluto';
      src: url('webfonts/PlutoExtraLight-webfont.eot');
      src: url('webfonts/PlutoExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
           url('webfonts/PlutoExtraLight-webfont.woff') format('woff'),
           url('webfonts/PlutoExtraLight-webfont.ttf') format('truetype'),
           url('webfonts/PlutoExtraLight-webfont.svg#PlutoExtraLightRegular') format('svg');
  }

  /* Light */
  @font-face {
      font-weight: 300;
      font-style: normal;
      font-family: 'Pluto';
      src: url('webfonts/PlutoLight-webfont.eot');
      src: url('webfonts/PlutoLight-webfont.eot?#iefix') format('embedded-opentype'),
           url('webfonts/PlutoLight-webfont.woff') format('woff'),
           url('webfonts/PlutoLight-webfont.ttf') format('truetype'),
           url('webfonts/PlutoLight-webfont.svg#PlutoLightRegular') format('svg');
  }

  /* Regular */
  @font-face {
      font-weight: normal;
      font-style: normal;
      font-family: 'Pluto';
      src: url('webfonts/PlutoRegular-webfont.eot');
      src: url('webfonts/PlutoRegular-webfont.eot?#iefix') format('embedded-opentype'),
           url('webfonts/PlutoRegular-webfont.woff') format('woff'),
           url('webfonts/PlutoRegular-webfont.ttf') format('truetype'),
           url('webfonts/PlutoRegular-webfont.svg#PlutoRegularRegular') format('svg');
  }

  /* Medium */
  @font-face {
      font-weight: 500;
      font-style: normal;
      font-family: 'Pluto';
      src: url('webfonts/PlutoMedium-webfont.eot');
      src: url('webfonts/PlutoMedium-webfont.eot?#iefix') format('embedded-opentype'),
           url('webfonts/PlutoMedium-webfont.woff') format('woff'),
           url('webfonts/PlutoMedium-webfont.ttf') format('truetype'),
           url('webfonts/PlutoMedium-webfont.svg#PlutoMediumRegular') format('svg');
  }

  /* Bold */
  @font-face {
      font-weight: 600;
      font-style: normal;
      font-family: 'Pluto';
      src: url('webfonts/PlutoBold-webfont.eot');
      src: url('webfonts/PlutoBold-webfont.eot?#iefix') format('embedded-opentype'),
           url('webfonts/PlutoBold-webfont.woff') format('woff'),
           url('webfonts/PlutoBold-webfont.ttf') format('truetype'),
           url('webfonts/PlutoBold-webfont.svg#PlutoBoldRegular') format('svg');
  }

  /* Heavy */
  @font-face {
      font-weight: 700;
      font-style: normal;
      font-family: 'Pluto';
      src: url('webfonts/PlutoHeavy-webfont.eot');
      src: url('webfonts/PlutoHeavy-webfont.eot?#iefix') format('embedded-opentype'),
           url('webfonts/PlutoHeavy-webfont.woff') format('woff'),
           url('webfonts/PlutoHeavy-webfont.ttf') format('truetype'),
           url('webfonts/PlutoHeavy-webfont.svg#PlutoHeavyRegular') format('svg');
  }

  /* Black */
  @font-face {
      font-weight: 800;
      font-style: normal;
      font-family: 'Pluto';
      src: url('webfonts/PlutoBlack-webfont.eot');
      src: url('webfonts/PlutoBlack-webfont.eot?#iefix') format('embedded-opentype'),
           url('webfonts/PlutoBlack-webfont.woff') format('woff'),
           url('webfonts/PlutoBlack-webfont.ttf') format('truetype'),
           url('webfonts/PlutoBlack-webfont.svg#PlutoBlackRegular') format('svg');
  }

}