
.scrolling #featured{
  transition: none; 
}
#featured, #join {
  background-position: center 0;
  background-color: #d7cfcf;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  top: 0;
  width: 100%;
  color: #fff;
  margin: 0;
  text-align: center;
  position: relative;
  line-height: 0;
  overflow: hidden
  //transition: border .3s, margin .3s
  transition: all 0.3s;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .8)

  > img { width: 100%; }
  h2, p, .actions {
    transition: font-size .3s,
      border .3s,
      left .3s,
      top .3s,
      right .3s,
      bottom .3s;
  }
  h2 {
    margin: 1% 1% 1.5%;
    font-size: px2em(23px)
  }
  h2.featured.pad { margin-top: 15% }
  h2.featured + p { margin: 0 }
  .featured.para{
    margin: auto;
    padding: 0 1.5em;
  }
  
}
#featured, #join {
  &.home{
    background-image: url(/images/headers-imgs/home.jpg);
  }
  &.work{
    background-image:url(/images/headers-imgs/work.jpg);
  }
  &.team{
    background-image:url(/images/headers-imgs/team.jpg);
  }
  &.contact{
    background-image:url(/images/headers-imgs/contact-us.jpg);
  }
  &.join-our-team{
    background-image:url(/images/headers-imgs/join-us.jpg);
  }

}


#featured figcaption, #join figcaption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto
  height: 100%
  padding: px2em(24px)
  position: absolute;
  line-height: 1.25;
  display: table;
  width: 100%;
  padding: 0 2.5em;
  position: relative;

}

#featured header,
#join header,
#featured blockquote {
  max-width: 800px;
//  vertical-align: middle;
//  display: table-cell;
}
#featured header, #contact header{
  margin: 0 auto
  vertical-align: middle;
  display: table-cell;
}


#bigfeatured{
  @extend #featured;
  max-height: none;
}

blockquote.featured {
  margin: 0;
  margin: 10% auto
  font: 200px 2em(11px)/1.1 header-font-stack
  p {
    color: inherit
    font-size: 1.6em
    font-weight: 400
    margin: .5em .25em .25em
  }
  p:before { position: static }
  footer {
    text-align: inherit
    font-weight: 200
  }
  footer small {
    font-size: 1em
    display: inline
  }
}

@media screen and (min-width: 301px){
  #featured, #join{
    height: 500px;
    font-size: 16px;
  }
}

@media screen and (min-width:501px) {
  blockquote.featured {
    font-size: 16px
    margin: 10% auto
  }
  .logo.featured img{
    width: 12%;
    max-width: 200px;
    height: auto;
  }
}

@media screen and (min-width:601px) {
  blockquote.featured {
    //font-size: 18px
    margin: 7% auto
  }
  #featured{
    height: 390px;
    figcaption{
      padding: 4em 2.5em;
    }
  }
}
@media screen and (min-width:701px) {
  blockquote.featured {
    //font-size: 20px
  }
}
@media screen and (min-width:801px) {
  blockquote.featured {
    font-size: 22px
  }
  #featured, #join{
    height: 500px;
  }
}
@media screen and (min-width:1001px) {
  blockquote.featured {
    font-size: 24px
  }
}



#featured .actions {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-shadow: none;
  margin-bottom: -23px;
}

@media screen and (min-width: 380px) {
  #featured .actions {
    left: auto;
    bottom: 6%;
    right: 17.5%;
    width: auto;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 601px) {
  //#featured figcaption { padding: px2em(64px) px2em(40px); }
  #featured h2 { font-size: px2em(38px); }
}

@media screen and (min-width: 1201px) {
  #featured figcaption { padding: px2em(80px) px2em(50px); }
  #featured h2 { font-size: px2em(45px); }
}
#join{
  position: relative
}
.easing{
  //-webkit-transition: all 100ms linear;
}