
@import "site-head"
@import "logo"
@import "site-foot"
@import "featured"
@import "main-menu"

#intro, .main-wrapper .inner {
  background-color: #f8f8f8;
  position: relative;
  //transition: top .5s
  p{
  	margin-bottom: 1em;
  }
}
.main-wrapper{
}

#the-team { overflow: hidden }

@media screen and (max-width:768px) {
  .main-wrapper{
    margin-bottom: 0 !important;
  }
}

@media screen and (min-width:801px) {
  #intro {
    top: px2em(-63px);
    padding-left: px2em(60px);
    padding-right: px2em(60px);
  }
}
