
#main-menu
  section
    padding: 10px
    border-bottom: 1px solid #000
    &:last-child
      border-bottom: 0

  section:nth-child(2)
    //margin-top: 45px

  h3
    color: #666
    font-size: .675em
    font-weight: 500
    text-transform: uppercase
    text-align: left

  a, h5.menu-item
    font-size: 1em
    //font-weight: 400
    color: #999

    &:hover, &:focus, &:active
      color: #fff
      background-color: transparent
      &.gray
        background-color: #FFF


  a.menu-item, h5.menu-item
    padding:  .375em 1em .25em
    display: block

  h5.menu-item
    font-family: inherit
    margin-top: 0
    &.menu-item:hover
      color: #999

  ul.menu
    margin: 0
    padding-left: 1em
    li
      display: block
    a
      font-size: .9em