
.no-logo #site-head
  a.logo
    display: none !important
  &.fixed
    a.show-for-inline-small
      display: inline-block !important
    a.hide-for-inline-small
      display none !important


#site-head
  font-size: 14px
  line-height: 0

  z-index: 30
  top: 0
  left: 0
  width: 100%
  position: fixed
  /*transition: left .3s, background-color .3s, height .3s*/
  transition all 0.3s

  .lwt
    padding: 8px 15px
    line-height: 1em;
    margin: 0;
    background-color: #3C303E;
    a
      color: #FFF;
      font-size: 17px;
      font-weight: 400;
  .lwt:hover
    background-color: #E20078;

  &.fixed
    height: auto
    background-color: #fff
    background-color: rgba(255, 255, 255, .7)
    .icon-bar
      background-color: #000;
    a.logo
      background-image: url('images/logos/logo-pink.svg')

  a.main-menu, a.logo
    @extend a.plain
    display: inline-block
    vertical-align: middle
    transition: width .3s, height .3s

  a.main-menu
    height: 40px
    width: 38px
    .menu
      top: 13px
      left: 9px
      position: absolute

a.logo.hide-for-small
  display: inline-block !important

.icon-bar
  background-color: #FFF;
  display: block;
  width: 22px;
  height: 4px;
  margin-bottom: 3px;
  border-radius: 1px;


@media screen and (min-width: 601px)
  #site-head
    text-align: left
    padding-top: 0
    padding-bottom: 0
    a.main-menu
      position: static


  a.logo.hide-for-small
    display: none !important


@media screen and (min-width: 1001px)
  #site-head 
    .lwt
      padding: 20px;

  .icon-bar
    width: 30px;
    margin-bottom: 5px;
