.hide-activity
  #site-foot > section.row
    display: none
#site-foot
  position: relative
  z-index: 1
  width: 100%
  bottom: 0
  line-height: 1.5
  text-align: center
  background-color: #eae6e6
  transition all .3s
  padding: 1em

  a.logo
    float: left;

  p.copyright
    font-size: px2em(11px)
    font-weight: 300
    small
      display: block
      font-size: px2em(10px, 11px)

  p.languages
    text-align: center


  .text-content
    padding-left: 80px;

  p.text-right
    text-align: center
  
  hr
    color: #D6CDCE;
    border: 1px solid;

@media screen and (min-width:768px) 
  #site-foot
    position: fixed
    padding: 2em 90px 1em;  

    p.text-right
      text-align: right;
