
@import "vendor"

bloodbg()
  background-color: rgba(255, 0, 0, .5)

px2em(val, base = 16){
  (val / base)em
}

bg-sprites(width, height, x, y) {
  width: width
  height: height
  background-position: x y;
}

abs-center()
  margin: auto
  top: 0
  left: 0
  right: 0
  bottom: 0
  position: absolute