.edit-on [data-edit-key] {
  position: relative;
}
.edit-on [data-edit-key].visuallyhidden {
  position: absolute;
}
.edit-on [data-edit-key]:hover,
.edit-on [data-edit-key]:focus,
.edit-on [data-edit-key]:active {
  cursor: pointer;
}
.edit-on [data-edit-key]:hover:before,
.edit-on [data-edit-key]:focus:before,
.edit-on [data-edit-key]:active:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #3a2;
  border-radius: 100%;
}
#editor-toggle {
  cursor: pointer;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #000;
  color: #fff;
}
#editor-toggle span.on {
  display: none;
}
#editor-toggle span.off {
  display: inline-block;
}
#editor-toggle.active {
  background-color: #3a2;
}
#editor-toggle.active span.on {
  display: inline-block;
}
#editor-toggle.active span.off {
  display: none;
}
#editor,
#editor form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
}
#editor {
  background-color: rgba(255,255,255,0.75);
  display: none;
}
#editor.active {
  display: block;
}
#editor form {
  position: absolute;
  height: 290px;
  width: 60%;
  margin: auto;
  background-color: #fff;
  padding: 15px;
  border: 6px solid rgba(0,0,0,0.75);
  border-radius: 10px;
  overflow: scroll;
}
#editor form label,
#editor form textarea,
#editor form button {
  display: inline-block;
  margin-bottom: 5px;
  border-radius: 5px;
}
#editor form label {
  font-weight: bold;
}
#editor form textarea {
  display: block;
  width: 100%;
  height: 12em;
  border: 0;
  box-shadow: 0 0 5px #ccc inset;
  border-radius: 5px;
  outline: 0;
  padding: 5px 10px;
}
#editor form textarea:hover,
#editor form textarea:active,
#editor form textarea:focus {
  box-shadow: 0 0 5px #333 inset;
}
#editor form span.cancel {
  cursor: pointer;
  display: inline-block;
  float: right;
}
#editor form button {
  float: right;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#editor form button:hover,
#editor form button:active,
#editor form button:focus {
  background-color: #fff;
  color: #000;
}
#build-actions {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
}
#build-actions a {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #000;
  color: #fff;
}
#build-actions a:hover,
#build-actions a:active,
#build-actions a:focus {
  background-color: #3a2;
}
.for-editor {
  display: block;
}
