/*! normalize.css v2.1.2 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Thin */
  @font-face {
      font-weight: 100;
      font-style: normal;
      font-family: 'Pluto';
      src: url('webfonts/PlutoThin-webfont.eot');
      src: url('webfonts/PlutoThin-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/PlutoThin-webfont.woff') format('woff'),url('webfonts/PlutoThin-webfont.ttf') format('truetype'),url('webfonts/PlutoThin-webfont.svg#PlutoThinRegular') format('svg');
  }

  /* Extra Light */
  @font-face {
      font-weight: 200;
      font-style: normal;
      font-family: 'Pluto';
      src: url('webfonts/PlutoExtraLight-webfont.eot');
      src: url('webfonts/PlutoExtraLight-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/PlutoExtraLight-webfont.woff') format('woff'),url('webfonts/PlutoExtraLight-webfont.ttf') format('truetype'),url('webfonts/PlutoExtraLight-webfont.svg#PlutoExtraLightRegular') format('svg');
  }

  /* Light */
  @font-face {
      font-weight: 300;
      font-style: normal;
      font-family: 'Pluto';
      src: url('webfonts/PlutoLight-webfont.eot');
      src: url('webfonts/PlutoLight-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/PlutoLight-webfont.woff') format('woff'),url('webfonts/PlutoLight-webfont.ttf') format('truetype'),url('webfonts/PlutoLight-webfont.svg#PlutoLightRegular') format('svg');
  }

  /* Regular */
  @font-face {
      font-weight: normal;
      font-style: normal;
      font-family: 'Pluto';
      src: url('webfonts/PlutoRegular-webfont.eot');
      src: url('webfonts/PlutoRegular-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/PlutoRegular-webfont.woff') format('woff'),url('webfonts/PlutoRegular-webfont.ttf') format('truetype'),url('webfonts/PlutoRegular-webfont.svg#PlutoRegularRegular') format('svg');
  }

  /* Medium */
  @font-face {
      font-weight: 500;
      font-style: normal;
      font-family: 'Pluto';
      src: url('webfonts/PlutoMedium-webfont.eot');
      src: url('webfonts/PlutoMedium-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/PlutoMedium-webfont.woff') format('woff'),url('webfonts/PlutoMedium-webfont.ttf') format('truetype'),url('webfonts/PlutoMedium-webfont.svg#PlutoMediumRegular') format('svg');
  }

  /* Bold */
  @font-face {
      font-weight: 600;
      font-style: normal;
      font-family: 'Pluto';
      src: url('webfonts/PlutoBold-webfont.eot');
      src: url('webfonts/PlutoBold-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/PlutoBold-webfont.woff') format('woff'),url('webfonts/PlutoBold-webfont.ttf') format('truetype'),url('webfonts/PlutoBold-webfont.svg#PlutoBoldRegular') format('svg');
  }

  /* Heavy */
  @font-face {
      font-weight: 700;
      font-style: normal;
      font-family: 'Pluto';
      src: url('webfonts/PlutoHeavy-webfont.eot');
      src: url('webfonts/PlutoHeavy-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/PlutoHeavy-webfont.woff') format('woff'),url('webfonts/PlutoHeavy-webfont.ttf') format('truetype'),url('webfonts/PlutoHeavy-webfont.svg#PlutoHeavyRegular') format('svg');
  }

  /* Black */
  @font-face {
      font-weight: 800;
      font-style: normal;
      font-family: 'Pluto';
      src: url('webfonts/PlutoBlack-webfont.eot');
      src: url('webfonts/PlutoBlack-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/PlutoBlack-webfont.woff') format('woff'),url('webfonts/PlutoBlack-webfont.ttf') format('truetype'),url('webfonts/PlutoBlack-webfont.svg#PlutoBlackRegular') format('svg');
  }
/* Thin */
  @font-face {
      font-weight: 100;
      font-style: normal;
      font-family: 'Pluto Condensed';
      src: url('webfonts/PlutoCondThin-webfont.eot');
      src: url('webfonts/PlutoCondThin-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/PlutoCondThin-webfont.woff') format('woff'),url('webfonts/PlutoCondThin-webfont.ttf') format('truetype'),url('webfonts/PlutoCondThin-webfont.svg#PlutoThinRegular') format('svg');
  }

  /* Extra Light */
  @font-face {
      font-weight: 200;
      font-style: normal;
      font-family: 'Pluto Condensed';
      src: url('webfonts/PlutoCondExtraLight-webfont.eot');
      src: url('webfonts/PlutoCondExtraLight-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/PlutoCondExtraLight-webfont.woff') format('woff'),url('webfonts/PlutoCondExtraLight-webfont.ttf') format('truetype'),url('webfonts/PlutoCondExtraLight-webfont.svg#PlutoExtraLightRegular') format('svg');
  }

  /* Light */
  @font-face {
      font-weight: 300;
      font-style: normal;
      font-family: 'Pluto Condensed';
      src: url('webfonts/PlutoCondLight-webfont.eot');
      src: url('webfonts/PlutoCondLight-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/PlutoCondLight-webfont.woff') format('woff'),url('webfonts/PlutoCondLight-webfont.ttf') format('truetype'),url('webfonts/PlutoCondLight-webfont.svg#PlutoLightRegular') format('svg');
  }

  /* Regular */
  @font-face {
      font-weight: normal;
      font-style: normal;
      font-family: 'Pluto Condensed';
      src: url('webfonts/PlutoCondRegular-webfont.eot');
      src: url('webfonts/PlutoCondRegular-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/PlutoCondRegular-webfont.woff') format('woff'),url('webfonts/PlutoCondRegular-webfont.ttf') format('truetype'),url('webfonts/PlutoCondRegular-webfont.svg#PlutoRegularRegular') format('svg');
  }

  /* Medium */
  @font-face {
      font-weight: 500;
      font-style: normal;
      font-family: 'Pluto Condensed';
      src: url('webfonts/PlutoCondMedium-webfont.eot');
      src: url('webfonts/PlutoCondMedium-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/PlutoCondMedium-webfont.woff') format('woff'),url('webfonts/PlutoCondMedium-webfont.ttf') format('truetype'),url('webfonts/PlutoCondMedium-webfont.svg#PlutoMediumRegular') format('svg');
  }

  /* Bold */
  @font-face {
      font-weight: 600;
      font-style: normal;
      font-family: 'Pluto Condensed';
      src: url('webfonts/PlutoCondBold-webfont.eot');
      src: url('webfonts/PlutoCondBold-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/PlutoCondBold-webfont.woff') format('woff'),url('webfonts/PlutoCondBold-webfont.ttf') format('truetype'),url('webfonts/PlutoCondBold-webfont.svg#PlutoBoldRegular') format('svg');
  }

  /* Heavy */
  @font-face {
      font-weight: 700;
      font-style: normal;
      font-family: 'Pluto Condensed';
      src: url('webfonts/PlutoCondHeavy-webfont.eot');
      src: url('webfonts/PlutoCondHeavy-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/PlutoCondHeavy-webfont.woff') format('woff'),url('webfonts/PlutoCondHeavy-webfont.ttf') format('truetype'),url('webfonts/PlutoCondHeavy-webfont.svg#PlutoHeavyRegular') format('svg');
  }

  /* Black */
  @font-face {
      font-weight: 800;
      font-style: normal;
      font-family: 'Pluto Condensed';
      src: url('webfonts/PlutoCondBlack-webfont.eot');
      src: url('webfonts/PlutoCondBlack-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/PlutoCondBlack-webfont.woff') format('woff'),url('webfonts/PlutoCondBlack-webfont.ttf') format('truetype'),url('webfonts/PlutoCondBlack-webfont.svg#PlutoBlackRegular') format('svg');
  }
@font-face {
  font-family: 'FM-Analog-Clock';
  src: url("webfonts/fm-analog-clock-h-webfont.otf");
  font-weight: normal;
  font-style: normal;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("boxsizing.htc");
}
body {
  margin: 0;
  background-color: #f8f8f8;
  font: 300 100%/1.375 'Open Sans', 'Helvetica Nueu', Helvetica, Arial, Sans-serif;
  position: relative;
}
a {
  font-weight: 500;
  text-decoration: none;
  color: #000;
}
a:hover,
a:focus,
a:active {
  color: #fff;
  background-color: #000;
}
a.plain:hover,
.work-list .item:hover,
#site-head a.main-menu:hover,
#site-head a.logo:hover,
a.logo:hover,
.logo:hover,
a.plain:focus,
.work-list .item:focus,
#site-head a.main-menu:focus,
#site-head a.logo:focus,
a.logo:focus,
.logo:focus,
a.plain:active,
.work-list .item:active,
#site-head a.main-menu:active,
#site-head a.logo:active,
a.logo:active,
.logo:active {
  color: #000;
  background-color: transparent;
}
p {
  margin-bottom: 1.5625em;
}
figure {
  text-align: center;
}
figure img {
  max-width: 100%;
}
.content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.content img {
  max-width: 100%;
}
header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
  margin-top: 0;
  margin-bottom: 20px;
}
.gray {
  background-color: #d7cfcf;
}
.screenshot {
  margin: 20px auto;
}
.chain-dot span:after {
  content: '. ';
}
.para {
  max-width: 860px;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width:481px) {
  .para {
    padding-left: 3.75em;
    padding-right: 3.75em;
  }
}
.logo h1,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pluto Condensed', 'Helvetica Nueu', Helvetica, Arial, Sans-serif;
  font-weight: 500;
  -webkit-transition: font-size 0.3s;
  -moz-transition: font-size 0.3s;
  -o-transition: font-size 0.3s;
  -ms-transition: font-size 0.3s;
  transition: font-size 0.3s;
}
h1,
.h1 {
  font-size: 2em;
  font-weight: 500;
  margin: 0;
}
h2,
.h2 {
  font-size: 1.375em;
  font-weight: 200;
  margin-top: 0;
}
h2.featured {
  font-weight: 400;
}
h3,
.h3 {
  font-size: 1.625em;
  font-weight: 300;
}
h3,
.h1 {
  font-size: px1em(40px);
  font-weight: 500;
}
h4,
h5,
h6 {
  margin-bottom: 0;
}
h4 + p {
  margin-top: 0;
}
.h-intro {
  padding-top: 24px;
}
.h-intro > * {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1;
}
.dashed-cap .dash,
.dashed-cap .focus {
  font-weight: 400;
  font-family: 'Pluto Condensed', 'Helvetica Nueu', Helvetica, Arial, Sans-serif;
}
.dashed-cap .focus {
  margin: 0.35em 0;
  font-size: 1em;
}
.dashed-cap span {
  font-weight: 200;
  display: block;
  font-size: 0.65em;
}
.dashed-cap .dash {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
.dashed-cap .dash:before,
.dashed-cap .dash:after {
  content: '';
  width: 6px;
  border-top: 2px solid #fff;
  top: 50%;
  margin-top: -2px;
  position: absolute;
}
.dashed-cap .dash:before {
  left: -0.75em;
}
.dashed-cap .dash:after {
  right: -0.75em;
}
.no-wrap {
  width: 810px;
}
@media screen and (min-width: 320px) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    text-align: center;
  }
  h1,
  .h1 {
    font-size: 2.25em;
  }
  h2,
  .h2 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 601px) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    text-align: center;
  }
  h1,
  .h1 {
    font-size: 3em;
  }
  h2,
  .h2 {
    font-size: 1.75em;
  }
}
blockquote {
  quotes: '\201c' '\201d' '\2018' '\2019';
  margin: 1em 20px;
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  -ms-transition: margin 0.5s;
  transition: margin 0.5s;
}
blockquote p {
  color: #cc186b;
  font-size: 1.25em;
  font-weight: 300;
  font-family: 'Pluto Condensed', 'Helvetica Nueu', Helvetica, Arial, Sans-serif;
  margin-bottom: 1em;
  position: relative;
  -webkit-transition: font-size 0.5s;
  -moz-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  -ms-transition: font-size 0.5s;
  transition: font-size 0.5s;
}
blockquote p:before {
  left: -0.5em;
  position: absolute;
  content: open-quote;
}
blockquote p:after {
  content: close-quote;
}
blockquote footer {
  text-align: right;
  font-weight: 400;
  font-family: 'Pluto Condensed', 'Helvetica Nueu', Helvetica, Arial, Sans-serif;
  margin-bottom: 46px;
}
blockquote footer small {
  display: block;
}
blockquote footer:before {
  content: '\2014';
  margin-right: 4px;
}
@media screen and (min-width:601px) {
  blockquote footer small {
    display: inline;
  }
}
@media screen and (min-width:1001px) {
  blockquote {
    margin-left: -8%;
    margin-right: -8%;
  }
  blockquote p {
    font-size: 24px;
  }
}
@media screen and (min-width:1201px) {
  blockquote {
    margin-left: -22%;
    margin-right: -22%;
  }
  blockquote p {
    font-size: 36px;
  }
}
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  *zoom: 1;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row .column,
.row .columns {
  position: relative;
  padding-left: 0.625em;
  padding-right: 0.625em;
  width: 100%;
  float: left;
}
.row.collapse .column,
.row.collapse .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}
.row .row {
  width: auto;
  margin-left: -0.625em;
  margin-right: -0.625em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}
.row .row:before,
.row .row:after {
  content: " ";
  display: table;
}
.row .row:after {
  clear: both;
}
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}
.row .row.collapse:before,
.row .row.collapse:after {
  content: " ";
  display: table;
}
.row .row.collapse:after {
  clear: both;
}
@media only screen {
.row .column,
.row .columns {
  position: relative;
  padding-left: 0.625em;
  padding-right: 0.625em;
  float: left;
}
.row .small-1 {
  position: relative;
  width: 8.33333%;
}
.row .small-2 {
  position: relative;
  width: 16.66667%;
}
.row .small-3 {
  position: relative;
  width: 25%;
}
.row .small-4 {
  position: relative;
  width: 33.33333%;
}
.row .small-5 {
  position: relative;
  width: 41.66667%;
}
.row .small-6 {
  position: relative;
  width: 50%;
}
.row .small-7 {
  position: relative;
  width: 58.33333%;
}
.row .small-8 {
  position: relative;
  width: 66.66667%;
}
.row .small-9 {
  position: relative;
  width: 75%;
}
.row .small-10 {
  position: relative;
  width: 83.33333%;
}
.row .small-11 {
  position: relative;
  width: 91.66667%;
}
.row .small-12 {
  position: relative;
  width: 100%;
}
.row .small-offset-1 {
  position: relative;
  margin-left: 8.33333%;
}
.row .small-offset-2 {
  position: relative;
  margin-left: 16.66667%;
}
.row .small-offset-3 {
  position: relative;
  margin-left: 25%;
}
.row .small-offset-4 {
  position: relative;
  margin-left: 33.33333%;
}
.row .small-offset-5 {
  position: relative;
  margin-left: 41.66667%;
}
.row .small-offset-6 {
  position: relative;
  margin-left: 50%;
}
.row .small-offset-7 {
  position: relative;
  margin-left: 58.33333%;
}
.row .small-offset-8 {
  position: relative;
  margin-left: 66.66667%;
}
.row .small-offset-9 {
  position: relative;
  margin-left: 75%;
}
.row .small-offset-10 {
  position: relative;
  margin-left: 83.33333%;
}
[class*="column"] + [class*="column"]:last-child {
  float: right;
}
[class*="column"] + [class*="column"].end {
  float: left;
}
.column.small-centered,
.columns.small-centered {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}
}
@media only screen and (min-width: 48em) {
.row .large-1 {
  position: relative;
  width: 8.33333%;
}
.row .large-2 {
  position: relative;
  width: 16.66667%;
}
.row .large-3 {
  position: relative;
  width: 25%;
}
.row .large-4 {
  position: relative;
  width: 33.33333%;
}
.row .large-5 {
  position: relative;
  width: 41.66667%;
}
.row .large-6 {
  position: relative;
  width: 50%;
}
.row .large-7 {
  position: relative;
  width: 58.33333%;
}
.row .large-8 {
  position: relative;
  width: 66.66667%;
}
.row .large-9 {
  position: relative;
  width: 75%;
}
.row .large-10 {
  position: relative;
  width: 83.33333%;
}
.row .large-11 {
  position: relative;
  width: 91.66667%;
}
.row .large-12 {
  position: relative;
  width: 100%;
}
.row .large-offset-1 {
  position: relative;
  margin-left: 8.33333%;
}
.row .large-offset-2 {
  position: relative;
  margin-left: 16.66667%;
}
.row .large-offset-3 {
  position: relative;
  margin-left: 25%;
}
.row .large-offset-4 {
  position: relative;
  margin-left: 33.33333%;
}
.row .large-offset-5 {
  position: relative;
  margin-left: 41.66667%;
}
.row .large-offset-6 {
  position: relative;
  margin-left: 50%;
}
.row .large-offset-7 {
  position: relative;
  margin-left: 58.33333%;
}
.row .large-offset-8 {
  position: relative;
  margin-left: 66.66667%;
}
.row .large-offset-9 {
  position: relative;
  margin-left: 75%;
}
.row .large-offset-10 {
  position: relative;
  margin-left: 83.33333%;
}
.push-2 {
  position: relative;
  left: 16.66667%;
  right: auto;
}
.pull-2 {
  position: relative;
  right: 16.66667%;
  left: auto;
}
.push-3 {
  position: relative;
  left: 25%;
  right: auto;
}
.pull-3 {
  position: relative;
  right: 25%;
  left: auto;
}
.push-4 {
  position: relative;
  left: 33.33333%;
  right: auto;
}
.pull-4 {
  position: relative;
  right: 33.33333%;
  left: auto;
}
.push-5 {
  position: relative;
  left: 41.66667%;
  right: auto;
}
.pull-5 {
  position: relative;
  right: 41.66667%;
  left: auto;
}
.push-6 {
  position: relative;
  left: 50%;
  right: auto;
}
.pull-6 {
  position: relative;
  right: 50%;
  left: auto;
}
.push-7 {
  position: relative;
  left: 58.33333%;
  right: auto;
}
.pull-7 {
  position: relative;
  right: 58.33333%;
  left: auto;
}
.push-8 {
  position: relative;
  left: 66.66667%;
  right: auto;
}
.pull-8 {
  position: relative;
  right: 66.66667%;
  left: auto;
}
.push-9 {
  position: relative;
  left: 75%;
  right: auto;
}
.pull-9 {
  position: relative;
  right: 75%;
  left: auto;
}
.push-10 {
  position: relative;
  left: 83.33333%;
  right: auto;
}
.pull-10 {
  position: relative;
  right: 83.33333%;
  left: auto;
}
.small-push-2 {
  left: inherit;
}
.small-pull-2 {
  right: inherit;
}
.small-push-3 {
  left: inherit;
}
.small-pull-3 {
  right: inherit;
}
.small-push-4 {
  left: inherit;
}
.small-pull-4 {
  right: inherit;
}
.small-push-5 {
  left: inherit;
}
.small-pull-5 {
  right: inherit;
}
.small-push-6 {
  left: inherit;
}
.small-pull-6 {
  right: inherit;
}
.small-push-7 {
  left: inherit;
}
.small-pull-7 {
  right: inherit;
}
.small-push-8 {
  left: inherit;
}
.small-pull-8 {
  right: inherit;
}
.small-push-9 {
  left: inherit;
}
.small-pull-9 {
  right: inherit;
}
.small-push-10 {
  left: inherit;
}
.small-pull-10 {
  right: inherit;
}
.column.large-centered,
.columns.large-centered {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}
}
.icon {
  display: inline-block;
  background-image: url("../images/sprites.png");
  background-repeat: no-repeat;
  -webkit-background-size: 280px;
  -moz-background-size: 280px;
  background-size: 280px;
}
.icon.linked-in,
.icon.twitter,
.icon.github,
.icon.facebook {
  width: 35px;
  height: 35px;
}
.icon.github {
  background-position: 0 0;
}
.icon.github.gray {
  background-position: -140px 0;
}
.icon.twitter {
  background-position: -35px 0;
}
.icon.twitter.gray {
  background-position: -175px 0;
}
.icon.linked-in {
  background-position: -70px 0;
}
.icon.linked-in.gray {
  background-position: -210px 0;
}
.icon.facebook {
  background-position: -105px 0;
}
.icon.facebook.gray {
  background-position: -245px 0;
}
.icon.iterate,
.icon.improve,
.icon.disrupt {
  width: 60px;
  height: 68px;
}
.icon.improve {
  background-position: -120px -35px;
}
.icon.iterate {
  background-position: 0 -35px;
}
.icon.disrupt {
  background-position: -60px -35px;
}
.icon.prev,
.icon.next {
  width: 35px;
  height: 70px;
}
.icon.prev {
  background-position: -190px -35px;
}
.icon.next {
  background-position: -230px -35px;
}
a.action,
button.action {
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: none;
  padding: 0.75em 0.625em 0.5em;
  color: #000;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -moz-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  -ms-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  white-space: nowrap;
}
a.action:hover,
a.action:active,
button.action:hover,
button.action:active {
  color: #fff;
  background-color: #000;
}
a.close {
  color: #666;
  font-size: 150%;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  margin: 0.75em 0.75em 0;
}
a.close.small {
  font-size: 100%;
}
a.close.big {
  font-size: 200%;
}
a.close:hover,
a.close:focus,
a.close:active {
  color: #fff;
  background-color: transparent;
}
a.circle {
  margin: 0.5em;
  display: inline-block;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  -ms-transition: background-color 0.25s;
  transition: background-color 0.25s;
  background-color: #d7cecf;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
a.circle.gray {
  background-color: #999;
}
a.circle:hover,
a.circle:focus,
a.circle:active {
  background-color: #000;
}
a.btn {
  padding: 10px 15px;
  background-color: #eae6e6;
  text-transform: uppercase;
  font-weight: bold;
}
html,
body {
  overflow-x: hidden;
}
[role="main"],
[role="complementary"] {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
[role="main"] {
  width: 100%;
  position: relative;
/*margin-bottom: 540px*/
  z-index: 3;
  background-color: #f8f8f8;
}
[role="complementary"] {
  top: 0;
  margin-left: -85%;
  width: 85%;
  height: 100%;
  z-index: 100;
  position: absolute;
  background-color: #323232;
  -webkit-box-shadow: inset -2px 0px 8px -1px #111;
  box-shadow: inset -2px 0px 8px -1px #111;
  position: fixed;
  overflow: auto;
}
body.active [role="main"] {
  right: -85%;
  right: auto;
  margin-left: 300px;
}
body.active #site-head,
body.active #site-foot {
  left: 85%;
}
body.active [role="complementary"] {
  margin-left: 0;
}
@media screen and (min-width: 601px) {
  [role="complementary"] {
    width: 300px;
    margin-left: -300px;
    width: 300px;
  }
  body.active #site-head,
  body.active #site-foot,
  body.active #featured {
    -webkit-transform: translateX(300px) !important;
    -moz-transform: translateX(300px) !important;
    -o-transform: translateX(300px) !important;
    -ms-transform: translateX(300px) !important;
    transform: translateX(300px) !important;
    left: auto;
  }
}
.client-logos {
  text-align: center;
}
.client-logos img {
  width: 50%;
  margin: 0.5em 10%;
}
@media screen and (min-width:601px) {
  .client-logos {
    text-align: left;
  }
  .client-logos img {
    display: inline-block;
    width: 20%;
    margin: 0.5em 2.5%;
  }
}
.home-illustration {
  position: relative;
  margin: 20px auto;
  padding: 0;
}
.home-illustration .label {
  font-size: 20px;
  margin-left: -4px;
  padding: 20px 20px 25px;
  display: inline-block;
}
.home-illustration .bottom-section .label {
  width: 50%;
  padding: 50px 20px 20px;
}
.home-illustration .top-section,
.home-illustration .bottom-section,
.home-illustration .middle-section {
  text-align: center;
  position: relative;
  z-index: 10;
}
.home-illustration .top-section {
  z-index: 3;
  background-color: #f8f8f8;
  margin-bottom: 20px;
}
.home-illustration .middle-section {
  padding-top: 130px;
}
.home-illustration .middle-section .center {
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.home-illustration .middle-section .right {
  margin-left: 30px;
}
.home-illustration .background-section {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}
.home-illustration .item {
  color: #fff;
  background-color: #000;
  width: 130px;
  height: 130px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  font-weight: 300;
  font-size: 20px;
  padding-top: 15px;
  z-index: 3;
  position: relative;
  display: inline-block;
}
.home-illustration .item .icon {
  display: block;
  margin: 0 auto;
}
.home-illustration .lines > * {
  height: 100%;
  border-left: 4px dotted #dadada;
  position: absolute;
}
.home-illustration .lines .middle {
  left: 50%;
  margin-left: -2px;
}
.home-illustration .lines .last {
  right: 0;
}
@media screen and (min-width: 401px) {
  .home-illustration .middle-section {
    padding-top: 0;
  }
  .home-illustration .middle-section .center {
    position: relative;
  }
  .home-illustration .black-line,
  .home-illustration .white-line {
    height: 8px;
    top: 50%;
    position: absolute;
  }
  .home-illustration .black-line {
    left: -15px;
    right: -15px;
    background-color: #000;
    z-index: 2;
  }
  .home-illustration .black-line:before,
  .home-illustration .black-line:after {
    content: '';
    top: -11px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
  }
  .home-illustration .black-line:before {
    left: -28px;
    border-right: 28px solid #000;
  }
  .home-illustration .black-line:after {
    right: -28px;
    border-left: 28px solid #000;
  }
  .home-illustration .white-line {
    width: 1000%;
    left: -500%;
    background-color: #eae6e6;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
  }
  .home-illustration .item {
    display: inline-block;
  }
  .home-illustration .item.left,
  .home-illustration .item.right {
    top: 0;
    position: absolute;
  }
  .home-illustration .item.left {
    left: 0;
  }
  .home-illustration .item.right {
    right: 0;
  }
}
@media screen and (min-width: 601px) {
  .home-illustration .item.left {
    left: 2%;
  }
  .home-illustration .item.right {
    right: 2%;
  }
}
@media screen and (min-width: 701px) {
  .home-illustration .label {
    font-size: 26px;
    padding: 20px 20px 25px;
  }
  .home-illustration .bottom-section .label {
    padding: 50px 20px 20px;
  }
  .home-illustration .item {
    width: 160px;
    height: 160px;
    padding-top: 25px;
  }
  .home-illustration .item .icon {
    margin-bottom: 5px;
  }
}
form.contact label,
form.contact input,
form.contact textarea {
  display: block;
}
form.contact label {
  margin-bottom: 10px;
  font-weight: 400;
}
form.contact input,
form.contact textarea {
  width: 100%;
  background-color: #eae6e6;
  border: 0;
  font-size: 20px;
  font-weight: 300;
  padding: 5.75px;
  margin-bottom: 10px;
}
form.contact input[type="radio"] {
  width: auto;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 25px;
}
form.contact textarea {
  height: 357.5px;
}
form.contact .submit {
  border: 0;
  color: #fff;
  background-color: #000;
  font-size: 22px;
  padding: 0.75em 1.5em 0.5em;
  width: 100%;
}
@media screen and (min-width: 601px) {
  form.contact .submit {
    width: auto;
  }
  form.contact textarea {
    height: 220px;
  }
}
.carousel-js {
  max-width: 1000px;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.carousel-js .items {
  display: table;
  vertical-align: top;
}
.carousel-js .items figure {
  max-width: 1000px;
  text-align: center;
  display: table-cell;
  position: relative;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.carousel-js .items figcaption {
  font-size: 14px;
  margin-left: 2em;
  margin-right: 2em;
  display: none;
}
.carousel-js .items p {
  margin-bottom: 1em;
}
.carousel-js .items img {
  max-width: 740px;
  width: 100%;
  margin: auto;
  display: none;
}
.carousel-js .max-width {
  width: 100%;
}
.carousel-js .current img,
.carousel-js .current figcaption {
  display: block;
}
.carousel-js nav {
  display: none;
}
.carousel-js nav > .prev,
.carousel-js nav > .next {
  top: 0;
  bottom: 0;
  width: 10%;
  position: absolute;
}
.carousel-js nav > .prev:hover,
.carousel-js nav > .next:hover,
.carousel-js nav > .prev:focus,
.carousel-js nav > .next:focus,
.carousel-js nav > .prev:active,
.carousel-js nav > .next:active {
  background-color: transparent;
}
.carousel-js nav > .prev .icon,
.carousel-js nav > .next .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.carousel-js nav > .prev {
  left: -74px;
}
.carousel-js nav > .next {
  right: -74px;
}
.carousel-js footer {
  text-align: center;
}
.carousel-js footer a {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #eae6e6;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin: 5px;
}
.carousel-js footer .current {
  background-color: #888;
}
.gray .carousel-js footer a {
  background-color: #eae6e5;
}
.gray .carousel-js footer a.current {
  background-color: #333;
}
@media only screen and (min-width: 800px) {
  .carousel-js nav {
    display: block;
  }
}
.work-list {
  max-width: 860px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}
.work-list .banner {
  background: #f1eff0;
  padding: 30px;
  width: 59%;
  margin: 2em auto;
  text-align: center;
  font-size: 130%;
  display: block;
}
.work-list .banner span {
  font-weight: bold;
}
.work-list .banner:hover {
  background: #000;
  color: #fff;
}
.work-list .item {
  line-height: 0;
  margin-bottom: 6px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 90%;
  display: block;
  margin: auto;
}
.work-list .item h3 {
  color: #999;
  font-weight: 300;
  font-size: 24px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.work-list .item h4 {
  font-weight: 500;
  font-size: 35px;
  color: #fff;
  margin: 0;
}
.work-list .item img {
  width: 100%;
}
.work-list .item img.default {
  width: auto;
  max-width: 100%;
}
.work-list .item figcaption {
  display: block;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  height: auto;
  line-height: 1;
  position: absolute;
  text-align: center;
  padding: 1em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
}
.work-list .item:hover figcaption,
.work-list .item:active figcaption,
.work-list .item:focus figcaption {
  display: block;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  height: auto;
  -webkit-transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  -ms-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}
.timepiece {
  margin: auto;
}
address,
.address {
  text-align: center;
}
.work-list.address img {
  margin: 10px;
}
.work-list.address figcaption {
  padding: 1em 0.5em;
  position: static;
  display: block;
  line-height: 1.375;
  text-align: left;
  background-color: transparent;
}
.work-list.address figcaption address {
  font-style: normal;
}
.work-list.address figcaption .title {
  font-size: 24px;
}
.work-list.address figcaption {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
@media screen and (min-width:481px) {
}
@media screen and (min-width: 601px) {
  .work-list .item {
/*margin-left: -4px*/
/*padding-right: 10px*/
    display: inline-block;
    padding: 5px;
  }
  .work-list .item figcaption {
/*right: 10px */
    margin: 5px;
  }
  .work-list.three .item {
    width: 33.333333%;
  }
}
@media screen and (min-width: 1001px) {
  .work-list .item {
    width: 33.333333%;
  }
}
.tabs {
  background-color: #eae6e6;
  text-align: center;
  margin-bottom: 23px;
}
.tabs a {
  font-size: 1.2em;
  text-decoration: none;
  height: 51px;
  min-width: 160px;
  max-width: 300px;
  width: 50%;
  margin-top: 1px;
  padding: 0.75em 1em;
  color: #000;
  background-color: #fff;
  display: inline-block;
  position: relative;
  -webkit-transition: background-color 0.5s, color 0.5s;
  -moz-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  -ms-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}
.tabs a:hover,
.tabs a:active,
.tabs a[data-js-tab-active] {
  color: #fff;
  background-color: #000;
}
.tabs a:before {
  content: '';
  display: inline-block;
  border-style: solid;
  position: absolute;
  margin-left: -15px;
  left: 50%;
  bottom: -38px;
  border: 15px solid transparent;
  border-top-width: 23px;
}
.tabs a[data-js-tab-active]:before {
  border-top-color: #000;
}
.tab-contents > section {
  position: absolute;
  overflow: hidden;
  clip: 0 0 0 0;
  width: 1px;
  height: 1px;
}
.tab-contents > section[data-js-tab-active],
.tab-contents > section:target {
  width: auto;
  height: auto;
  clip: auto;
  position: relative;
  overflow: auto;
}
.leader figure,
.leader header {
  text-align: center;
}
.leader {
  min-height: 200px;
  position: relative;
}
.leader h1,
.leader h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.leader h1 {
  font-size: 32px;
}
.leader h2 {
  font-size: 18px;
  margin-bottom: 1.111em;
}
.leader figure {
  margin-bottom: 1em;
}
.leader figure img {
  max-width: 100%;
}
.leader figure a {
  font-size: 14px;
  text-decoration: none;
}
.leader .info-wrapper p {
  display: none;
  margin-bottom: 1.5625em;
}
.leader .info-wrapper p:first-child {
  display: block;
}
.leader .show-details {
  display: none;
}
.leader .expand-details {
  display: block;
  background-image: url("../images/sprites/arrow.png");
  width: 19px;
  height: 19px;
  margin-bottom: 2.8125em;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
}
.leader .show-details:checked + .info-wrapper .expand-details {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.leader .show-details:checked + .info-wrapper > p {
  display: block;
}
@media screen and (min-width: 601px) {
  .leader {
    padding-left: 26.5%;
    text-align: left;
  }
  .leader p:first-child {
    margin-top: 0;
  }
  .leader figure {
    top: 0;
    left: 0;
    width: 25%;
    position: absolute;
  }
  .leader header {
    text-align: left;
  }
  .leader header h1,
  .leader header h2 {
    text-align: left;
  }
}
.members {
  position: relative;
  left: 4px;
}
.members figure {
  width: 50%;
  max-height: inherit;
  margin: 0;
  margin-left: -4px;
  line-height: 0;
  vertical-align: top;
  color: #fff;
  display: inline-block;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.members figure img {
  width: 100%;
  line-height: 0;
}
.members figure figcaption {
  line-height: 1;
}
.members .profile {
  padding: 0.5em 1em;
  background-color: #000;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.members .profile header {
  height: 50%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.members .profile .name,
.members .profile .role {
  margin: auto 0.25em;
}
.members .profile .name {
  margin: 0 0 1em;
  font-size: 0.8125em;
  font-weight: 200;
  line-height: 1.2;
  color: #999;
}
.members .profile .role {
  font-size: 1.125em;
  font-weight: 400;
  white-space: break-word;
}
.members figure:hover .profile,
.members figure:active .profile,
.members figure:focus .profile {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.members figure .banner {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  line-height: 1;
  width: 126px;
  height: 100px;
}
.members figure .banner .figure,
.members figure .banner .label {
  color: #fff;
  margin: 0;
}
.members figure .banner .figure {
  font-size: 100px;
  font-weight: 500;
  line-height: 0.8;
}
.members figure .banner .label {
  font-size: 16px;
  font-weight: 400;
}
@media screen and (min-width: 400px) {
}
@media screen and (min-width: 400px) {
  .members .profile .name {
    font-size: 1em;
  }
  .members .profile .role {
    font-size: 1.75em;
  }
}
@media screen and (min-width: 601px) {
  .members .profile .name {
    font-size: 1.5em;
  }
  .members .profile .role {
    font-size: 2.1875em;
  }
}
@media screen and (min-width: 801px) {
  .members figure {
    width: 20%;
    max-height: 148px;
  }
  .members .profile .name {
    font-size: 1em;
  }
  .members .profile .role {
    font-size: 1.25em;
  }
}
.case-study-roles {
  margin: 1.5em 0;
  color: #cacaca;
  text-align: center;
  position: relative;
}
.case-study-roles .item:before {
  content: ' / ';
}
.case-study-roles .item:first-child:before {
  content: '';
}
.case-study-roles header,
.case-study-roles header > * {
  display: inline;
  font-weight: 500;
}
.case-study-roles,
.case-study-roles header > * {
  font-size: 14px;
}
.case-study-roles:before,
.case-study-roles:after {
  width: 6px;
  margin-left: -3px;
  left: 50%;
  display: block;
  position: absolute;
  content: '';
}
.case-study-roles:before {
  top: -1em;
  border-top: 1px solid #cacaca;
}
.case-study-roles:after {
  bottom: -1em;
  border-bottom: 1px solid #cacaca;
}
.case-study-widget {
  margin-bottom: 2em;
  text-align: center;
  display: block;
}
.case-study-widget img {
  max-width: 100%;
}
@media screen and (min-width: 601px) {
  .case-study-widget {
    display: inline-block;
    width: 33.33333%;
    margin-left: -4px;
  }
}
.bubbles {
  text-align: center;
}
.bubble {
  cursor: pointer;
  display: inline-block;
  width: 147px;
  height: 147px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #800080;
  margin: 25.333333333333332px;
  position: relative;
}
.bubble [class*="bubble-icon-"] {
  width: 56px;
  height: 77px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/bubble-sprites.png") no-repeat;
}
.bubble .bubble-icon-press {
  background-position: 0 0;
}
.bubble .bubble-icon-fact {
  background-position: 0 -78px;
}
.bubble .bubble-bg {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.bubble.fact .bubble-foot {
  padding-top: 30px;
  padding-bottom: 30px;
}
.bubble .bubble-foot {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  padding: 12px 22px;
  position: relative;
  font-weight: normal;
  width: 100%;
  height: 100%;
  text-align: center;
}
.bubble .bubble-foot > span {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 15px;
  color: #808080;
}
.bubble .bubble-foot > h3,
.bubble .bubble-foot > h4 {
  margin: 5px auto;
  font-size: 18px;
  color: #999;
}
.bubble .bubble-foot p {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}
.bubble .bubble-foot a {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: none;
  height: 33px;
  line-height: 33px;
  font-size: 14px;
  font-family: 'Open Sans', 'Helvetica Nueu', Helvetica, Arial, Sans-serif;
  text-transform: uppercase;
  color: #f8f8f8;
  background-color: #404040;
}
.bubble.on .bubble-foot {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-animation: bubble-fade-in 0.5s;
  -moz-animation: bubble-fade-in 0.5s;
  -o-animation: bubble-fade-in 0.5s;
  -ms-animation: bubble-fade-in 0.5s;
  animation: bubble-fade-in 0.5s;
}
.bubble.on .bubble-foot a {
  display: block;
}
.bubble.off .bubble-foot {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-animation: bubble-fade-in 0.5s reverse;
  -moz-animation: bubble-fade-in 0.5s reverse;
  -o-animation: bubble-fade-in 0.5s reverse;
  -ms-animation: bubble-fade-in 0.5s reverse;
  animation: bubble-fade-in 0.5s reverse;
}
.bubble.off .bubble-foot a {
  display: none;
}
.bubble:hover .bubble-bg,
.bubble:focus .bubble-bg,
.bubble:active .bubble-bg {
  -webkit-background-size: 130%;
  -moz-background-size: 130%;
  background-size: 130%;
}
.bubble .bubble-info {
  position: absolute;
  top: 0;
  left: -46.5px;
  right: -46.5px;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  background-color: #000;
}
.bubble.on .bubble-info {
  width: 240px;
  height: 172px;
  -webkit-animation: bubble 0.5s;
  -moz-animation: bubble 0.5s;
  -o-animation: bubble 0.5s;
  -ms-animation: bubble 0.5s;
  animation: bubble 0.5s;
}
.bubble.off .bubble-info {
  width: 0;
  height: 0;
  -webkit-animation: bubble 0.5s reverse;
  -moz-animation: bubble 0.5s reverse;
  -o-animation: bubble 0.5s reverse;
  -ms-animation: bubble 0.5s reverse;
  animation: bubble 0.5s reverse;
}
@-webkit-keyframes bubble-fade-in {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  95% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes bubble-fade-in {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  95% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-ms-keyframes bubble-fade-in {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  95% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes bubble {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    width: 0;
    height: 0;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: rotate(270deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  40% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  50% {
    width: 140px;
    height: 150px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  80% {
    -webkit-border-radius: 5%;
    border-radius: 5%;
  }

  100% {
    width: 240px;
    height: 172px;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes bubble {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    width: 0;
    height: 0;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  40% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  50% {
    width: 140px;
    height: 150px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  80% {
    -webkit-border-radius: 5%;
    border-radius: 5%;
  }

  100% {
    width: 240px;
    height: 172px;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes bubble {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    width: 0;
    height: 0;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  40% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  50% {
    width: 140px;
    height: 150px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  80% {
    -webkit-border-radius: 5%;
    border-radius: 5%;
  }

  100% {
    width: 240px;
    height: 172px;
    -webkit-border-radius: 0;
    border-radius: 0;
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes bubble-fade-in {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  95% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes bubble-fade-in {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  95% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes bubble-fade-in {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  95% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-ms-keyframes bubble-fade-in {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  95% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes bubble-fade-in {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  95% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes bubble {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    width: 0;
    height: 0;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  40% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  50% {
    width: 140px;
    height: 150px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  80% {
    -webkit-border-radius: 5%;
    border-radius: 5%;
  }

  100% {
    width: 240px;
    height: 172px;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes bubble {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    width: 0;
    height: 0;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  40% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  50% {
    width: 140px;
    height: 150px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  80% {
    -webkit-border-radius: 5%;
    border-radius: 5%;
  }

  100% {
    width: 240px;
    height: 172px;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes bubble {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    width: 0;
    height: 0;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  40% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  50% {
    width: 140px;
    height: 150px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  80% {
    -webkit-border-radius: 5%;
    border-radius: 5%;
  }

  100% {
    width: 240px;
    height: 172px;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes bubble {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    width: 0;
    height: 0;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  40% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  50% {
    width: 140px;
    height: 150px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  80% {
    -webkit-border-radius: 5%;
    border-radius: 5%;
  }

  100% {
    width: 240px;
    height: 172px;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes bubble {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    width: 0;
    height: 0;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  40% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  50% {
    width: 140px;
    height: 150px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  80% {
    -webkit-border-radius: 5%;
    border-radius: 5%;
  }

  100% {
    width: 240px;
    height: 172px;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#activities p.description {
  margin: 0;
}
#activities .author {
  font-size: 14px;
}
.image-content {
  list-style: none;
  padding: 0;
}
.image-content li {
  margin-bottom: 30px;
}
.image-content img {
  width: 60px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  float: left;
}
.image-content .text-content {
  padding-left: 80px;
}
.image-content h4 {
  margin: 0;
  line-height: 1em;
}
.community-row {
  position: relative;
}
.communities {
  margin-bottom: 50px;
}
.communities img {
  margin-bottom: 30px;
}
.communities p {
  margin: 20px;
}
.communities .btn-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.communities:nth-of-type(1n) {
  border-right: 3px solid #eae6e6;
}
.communities:nth-of-type(2n) {
  border-right: none;
}
@media only screen and (min-width: 48em) {
  .communities.large-6 {
    position: static;
  }
  .communities .btn-wrapper {
    width: 50%;
  }
}
.modal-open-blog .modal,
.modal-open-activities .modal {
  display: block;
}
.modal {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 100;
}
.modal .wrapper {
  background: #eae6e6;
  padding: 50px 20px;
  height: 100%;
}
.modal .inner {
  padding: 20px;
  overflow: auto;
  height: 100%;
}
.modal .btn-close {
  position: absolute;
  right: 40px;
  font-size: 50px;
  cursor: pointer;
}
.modal .btn-close:hover {
  background: transparent;
}
.no-logo #site-head a.logo {
  display: none !important;
}
.no-logo #site-head.fixed a.show-for-inline-small {
  display: inline-block !important;
}
.no-logo #site-head.fixed a.hide-for-inline-small {
  display: none !important;
}
#site-head {
  font-size: 14px;
  line-height: 0;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
/*transition: left .3s, background-color .3s, height .3s*/
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#site-head .lwt {
  padding: 8px 15px;
  line-height: 1em;
  margin: 0;
  background-color: #3c303e;
}
#site-head .lwt a {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}
#site-head .lwt:hover {
  background-color: #e20078;
}
#site-head.fixed {
  height: auto;
  background-color: #fff;
  background-color: rgba(255,255,255,0.7);
}
#site-head.fixed .icon-bar {
  background-color: #000;
}
#site-head.fixed a.logo {
  background-image: url("../images/logos/logo-pink.svg");
}
#site-head a.main-menu,
#site-head a.logo {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: width 0.3s, height 0.3s;
  -moz-transition: width 0.3s, height 0.3s;
  -o-transition: width 0.3s, height 0.3s;
  -ms-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s;
}
#site-head a.main-menu {
  height: 40px;
  width: 38px;
}
#site-head a.main-menu .menu {
  top: 13px;
  left: 9px;
  position: absolute;
}
a.logo.hide-for-small {
  display: inline-block !important;
}
.icon-bar {
  background-color: #fff;
  display: block;
  width: 22px;
  height: 4px;
  margin-bottom: 3px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
@media screen and (min-width: 601px) {
  #site-head {
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
  }
  #site-head a.main-menu {
    position: static;
  }
  a.logo.hide-for-small {
    display: none !important;
  }
}
@media screen and (min-width: 1001px) {
  #site-head .lwt {
    padding: 20px;
  }
  .icon-bar {
    width: 30px;
    margin-bottom: 5px;
  }
}
a.logo,
.logo {
  line-height: 0;
  margin: 0;
}
a.logo.featured img,
.logo.featured img {
  width: 17.55%;
  max-width: 200px;
  height: auto;
}
a.logo {
  display: inline-block;
  background-image: url("../images/logos/logo-white.svg");
  width: 32px;
  height: 30px;
}
a.logo.footer {
  width: 64px !important;
  height: 60px !important;
}
@media screen and (min-width: 601px) {
  a.logo {
    width: 40px;
    height: 37px;
  }
  span.menu:before {
    -webkit-box-shadow: 0 0px 0 2px, 0 9px 0 2px, 0 18px 0 2px;
    box-shadow: 0 0px 0 2px, 0 9px 0 2px, 0 18px 0 2px;
    width: 1.6em;
  }
  #site-head a.main-menu {
    width: 50px !important;
  }
}
@media screen and (min-width: 1001px) {
  a.logo {
    width: 64px;
    height: 60px;
  }
  span.menu:before {
    -webkit-box-shadow: 0 0px 0 2px, 0 11px 0 2px, 0 22px 0 2px;
    box-shadow: 0 0px 0 2px, 0 11px 0 2px, 0 22px 0 2px;
    width: 1.6em;
  }
  #site-head a.main-menu .menu {
    top: 20px;
  }
}
.hide-activity #site-foot > section.row {
  display: none;
}
#site-foot {
  position: relative;
  z-index: 1;
  width: 100%;
  bottom: 0;
  line-height: 1.5;
  text-align: center;
  background-color: #eae6e6;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  padding: 1em;
}
#site-foot a.logo {
  float: left;
}
#site-foot p.copyright {
  font-size: 0.6875em;
  font-weight: 300;
}
#site-foot p.copyright small {
  display: block;
  font-size: 0.9090909090909091em;
}
#site-foot p.languages {
  text-align: center;
}
#site-foot .text-content {
  padding-left: 80px;
}
#site-foot p.text-right {
  text-align: center;
}
#site-foot hr {
  color: #d6cdce;
  border: 1px solid;
}
@media screen and (min-width:768px) {
  #site-foot {
    position: fixed;
    padding: 2em 90px 1em;
  }
  #site-foot p.text-right {
    text-align: right;
  }
}
.scrolling #featured {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
#featured,
#join,
#bigfeatured {
  background-position: center 0;
  background-color: #d7cfcf;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  top: 0;
  width: 100%;
  color: #fff;
  margin: 0;
  text-align: center;
  position: relative;
  line-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  text-shadow: 0 1px 0 rgba(0,0,0,0.8);
}
#featured > img,
#join > img,
#bigfeatured > img {
  width: 100%;
}
#featured h2,
#join h2,
#bigfeatured h2,
#featured p,
#join p,
#bigfeatured p,
#featured .actions,
#join .actions,
#bigfeatured .actions {
  -webkit-transition: font-size 0.3s, border 0.3s, left 0.3s, top 0.3s, right 0.3s, bottom 0.3s;
  -moz-transition: font-size 0.3s, border 0.3s, left 0.3s, top 0.3s, right 0.3s, bottom 0.3s;
  -o-transition: font-size 0.3s, border 0.3s, left 0.3s, top 0.3s, right 0.3s, bottom 0.3s;
  -ms-transition: font-size 0.3s, border 0.3s, left 0.3s, top 0.3s, right 0.3s, bottom 0.3s;
  transition: font-size 0.3s, border 0.3s, left 0.3s, top 0.3s, right 0.3s, bottom 0.3s;
}
#featured h2,
#join h2,
#bigfeatured h2 {
  margin: 1% 1% 1.5%;
  font-size: 1.4375em;
}
#featured h2.featured.pad,
#join h2.featured.pad,
#bigfeatured h2.featured.pad {
  margin-top: 15%;
}
#featured h2.featured + p,
#join h2.featured + p,
#bigfeatured h2.featured + p {
  margin: 0;
}
#featured .featured.para,
#join .featured.para,
#bigfeatured .featured.para {
  margin: auto;
  padding: 0 1.5em;
}
#featured.home,
#join.home,
#bigfeatured.home {
  background-image: url("../images/headers-imgs/home.jpg");
}
#featured.work,
#join.work,
#bigfeatured.work {
  background-image: url("../images/headers-imgs/work.jpg");
}
#featured.team,
#join.team,
#bigfeatured.team {
  background-image: url("../images/headers-imgs/team.jpg");
}
#featured.contact,
#join.contact,
#bigfeatured.contact {
  background-image: url("../images/headers-imgs/contact-us.jpg");
}
#featured.join-our-team,
#join.join-our-team,
#bigfeatured.join-our-team {
  background-image: url("../images/headers-imgs/join-us.jpg");
}
#featured figcaption,
#join figcaption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  padding: 1.5em;
  position: absolute;
  line-height: 1.25;
  display: table;
  width: 100%;
  padding: 0 2.5em;
  position: relative;
}
#featured header,
#join header,
#featured blockquote {
  max-width: 800px;
}
#featured header,
#contact header {
  margin: 0 auto;
  vertical-align: middle;
  display: table-cell;
}
#bigfeatured {
  max-height: none;
}
blockquote.featured {
  margin: 0;
  margin: 10% auto;
  font: 200px 2em 11px/1.1 'Pluto Condensed', 'Helvetica Nueu', Helvetica, Arial, Sans-serif;
}
blockquote.featured p {
  color: inherit;
  font-size: 1.6em;
  font-weight: 400;
  margin: 0.5em 0.25em 0.25em;
}
blockquote.featured p:before {
  position: static;
}
blockquote.featured footer {
  text-align: inherit;
  font-weight: 200;
}
blockquote.featured footer small {
  font-size: 1em;
  display: inline;
}
@media screen and (min-width: 301px) {
  #featured,
  #join {
    height: 500px;
    font-size: 16px;
  }
}
@media screen and (min-width:501px) {
  blockquote.featured {
    font-size: 16px;
    margin: 10% auto;
  }
  .logo.featured img {
    width: 12%;
    max-width: 200px;
    height: auto;
  }
}
@media screen and (min-width:601px) {
  blockquote.featured {
    margin: 7% auto;
  }
  #featured {
    height: 390px;
  }
  #featured figcaption {
    padding: 4em 2.5em;
  }
}
@media screen and (min-width:701px) {
}
@media screen and (min-width:801px) {
  blockquote.featured {
    font-size: 22px;
  }
  #featured,
  #join {
    height: 500px;
  }
}
@media screen and (min-width:1001px) {
  blockquote.featured {
    font-size: 24px;
  }
}
#featured .actions {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-shadow: none;
  margin-bottom: -23px;
}
@media screen and (min-width: 380px) {
  #featured .actions {
    left: auto;
    bottom: 6%;
    right: 17.5%;
    width: auto;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 601px) {
  #featured h2 {
    font-size: 2.375em;
  }
}
@media screen and (min-width: 1201px) {
  #featured figcaption {
    padding: 5em 3.125em;
  }
  #featured h2 {
    font-size: 2.8125em;
  }
}
#join {
  position: relative;
}
#main-menu section {
  padding: 10px;
  border-bottom: 1px solid #000;
}
#main-menu section:last-child {
  border-bottom: 0;
}
#main-menu h3 {
  color: #666;
  font-size: 0.675em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
}
#main-menu a,
#main-menu h5.menu-item {
  font-size: 1em;
  color: #999;
}
#main-menu a:hover,
#main-menu h5.menu-item:hover,
#main-menu a:focus,
#main-menu h5.menu-item:focus,
#main-menu a:active,
#main-menu h5.menu-item:active {
  color: #fff;
  background-color: transparent;
}
#main-menu a:hover.gray,
#main-menu h5.menu-item:hover.gray,
#main-menu a:focus.gray,
#main-menu h5.menu-item:focus.gray,
#main-menu a:active.gray,
#main-menu h5.menu-item:active.gray {
  background-color: #fff;
}
#main-menu a.menu-item,
#main-menu h5.menu-item {
  padding: 0.375em 1em 0.25em;
  display: block;
}
#main-menu h5.menu-item {
  font-family: inherit;
  margin-top: 0;
}
#main-menu h5.menu-item.menu-item:hover {
  color: #999;
}
#main-menu ul.menu {
  margin: 0;
  padding-left: 1em;
}
#main-menu ul.menu li {
  display: block;
}
#main-menu ul.menu a {
  font-size: 0.9em;
}
#intro,
.main-wrapper .inner {
  background-color: #f8f8f8;
  position: relative;
}
#intro p,
.main-wrapper .inner p {
  margin-bottom: 1em;
}
#the-team {
  overflow: hidden;
}
@media screen and (max-width:768px) {
  .main-wrapper {
    margin-bottom: 0 !important;
  }
}
@media screen and (min-width:801px) {
  #intro {
    top: -3.9375em;
    padding-left: 3.75em;
    padding-right: 3.75em;
  }
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.hidden {
  display: none !important;
}
.for-editor {
  display: none;
}
.hide-for-small,
.hide-for-inline-small {
  display: none !important;
}
.show-for-small {
  display: block !important;
}
.show-for-inline-small {
  display: inline-block !important;
}
@media only screen and (min-width: 601px) {
  .hide-for-small {
    display: inherit !important;
  }
  .hide-for-inline-small {
    display: inline-block !important;
  }
  .show-for-small,
  .show-for-inline-small {
    display: none !important;
  }
}
[lang="kr"] body {
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
}
[lang="kr"] h1 {
  font-size: 2.5em;
  font-weight: 700;
}
[lang="kr"] h2 {
  font-size: 1.5em;
  font-weight: 200;
}
p.languages a {
  font-size: 16px;
  margin: 0 5px;
}
p.languages a.active {
  border-bottom: 1px solid #333;
}
p.languages.white .active {
  border-bottom: 1px solid #999;
}
.clock {
  font-family: FM-Analog-Clock, sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  font-size: 130px;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
  position: absolute;
  top: 10px;
  left: 10px;
}
.timepiece {
  text-align: center;
  margin: auto;
  width: 147px;
  height: 147px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  line-height: 1;
}
.timepiece.close {
  color: #fff;
}
.timepiece.sg {
  background-image: url("../images/offices/sg.png");
}
.timepiece.sg.close {
  background-image: url("../images/offices/sg_pm.png");
}
.timepiece.seoul {
  background-image: url("../images/offices/seoul.png");
}
.timepiece.seoul.close {
  background-image: url("../images/offices/seoul_pm.png");
}
.timepiece.sf {
  background-image: url("../images/offices/sf.png");
}
.timepiece.sf.close {
  background-image: url("../images/offices/sf_pm.png");
}
.popout {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}
p ::selection {
  background: #ce006b;
}
p ::-moz-selection {
  background: #ce006b;
}
::selection {
  background: transparent;
}
::-moz-selection {
  background: transparent;
}
.no-pad {
  padding: 0;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hide {
  display: none !important;
}
.space1 {
  margin-bottom: 1em !important;
}
.space2 {
  margin-bottom: 2em !important;
}
.space3 {
  margin-bottom: 3em !important;
}
.space4 {
  margin-bottom: 4em !important;
}
.space5 {
  margin-bottom: 5em !important;
}
.pr50 {
  padding-right: 50px !important;
}
figure header {
  margin: 0 auto;
  vertical-align: middle;
  display: table-cell;
}
a:hover {
  background-color: #e20078;
}
