
*, *:before, *:after
  box-sizing border-box
  *behavior url('boxsizing.htc')

body
  margin 0
  background-color #f8f8f8
  font 300 100% / text-line-height text-font-stack
  position relative

a
  font-weight 500
  text-decoration none
  color #000

  &:hover,
  &:focus,
  &:active
    color #fff
    background-color #000

  &.plain
    &:hover,
    &:focus,
    &:active
      color #000
      background-color transparent

p
  margin-bottom px2em(25px)

figure
  text-align center
  img
    max-width 100%

.content
  margin-left auto
  margin-right auto
  padding-top 20px
  padding-bottom 20px

  img
    max-width 100%

header
  h1, h2, h3, h4, h5, h6
    margin-top 0
    margin-bottom 20px

.gray
  background-color #d7cfcf

.screenshot
  margin: 20px auto

.chain-dot span:after
  content '. '

.para
  max-width 860px
  padding-left 2em
  padding-right 2em
  margin-left auto
  margin-right auto

@media screen and (min-width:481px)
  .para
    padding-left px2em(60px)
    padding-right px2em(60px)