
// company logo
.logo h1 { }

h1, h2, h3, h4, h5, h6 {
  font-family: header-font-stack
  font-weight: 500
  transition: font-size .3s
}

// general site main header
h1, .h1 {
  font-size: px2em(32px)
  font-weight: 500
  margin: 0
}

h2, .h2 {
  font-size: px2em(22px)
  font-weight: 200
  margin-top: 0
}

h2.featured {
  font-weight: 400
}

h3, .h3 {
  font-size: px2em(26px)
  font-weight: 300
}

h3, .h1{
  font-size: px1em(40px)
  font-weight: 500
}

h4, h5, h6 {
  margin-bottom: 0
}

h4 + p { margin-top: 0 }

// headers for the intro block
.h-intro {
  padding-top: 24px
  > * {
    margin-top: 0
    margin-bottom: 30px
    line-height: 1
  }
}
.dashed-cap {
  .dash, .focus {
    font-weight: 400
    font-family: header-font-stack
  }
  .focus {
    margin: .35em 0
    font-size: 1em
  }
  span {
    font-weight: 200;
    display: block;
    font-size: .65em
  }
  .dash {
    text-transform: uppercase
    position: relative
    display: inline-block
    &:before,
    &:after {
      content: ''
      width: 6px
      border-top: 2px solid #fff
      top: 50%
      margin-top: -2px
      position: absolute
    }
    &:before { left: -.75em }
    &:after { right: -.75em }
  }
}

.no-wrap{
  width: 810px;
}


@media screen and (min-width: 320px) {
  h1, .h1,
  h2, .h2,
  h3, .h3 { text-align: center }
  h1, .h1 { font-size: px2em(36px) }
  h2, .h2 { font-size: px2em(24px) }
}

@media screen and (min-width: 601px) {
  h1, .h1,
  h2, .h2,
  h3, .h3 { text-align: center }
  h1, .h1 { font-size: px2em(48px) }
  h2, .h2 { font-size: px2em(28px) }
}