
blockquote {
  quotes: '\201c' '\201d' '\2018' '\2019'
  margin: 1em 20px
  transition: margin .5s
  p {
    color: #cc186b
    font-size: 1.25em
    font-weight: 300
    font-family: header-font-stack
    margin-bottom: 1em
    position: relative
    transition: font-size .5s
  }
  p:before {
    left: -.5em
    position: absolute;
    content: open-quote
  }
  p:after { content: close-quote }

  footer {
    text-align: right;
    font-weight: 400
    font-family: header-font-stack
    margin-bottom 46px
    small { display: block }
    &:before {
      content: '\2014';
      margin-right: 4px
    }
  }
}

@media screen and (min-width:601px) {
  blockquote footer small { display: inline }
}

@media screen and (min-width:1001px) {
  blockquote {
    margin-left: -8%
    margin-right: -8%
    p { font-size: 24px }
  }
}
@media screen and (min-width:1201px) {
  blockquote {
    margin-left: -22%
    margin-right: -22%
    p { font-size: 36px }
  }
}
