

.icon
  display: inline-block
  background-image: url('images/sprites.png')
  background-repeat: no-repeat
  background-size: 280px;
  // background-size: px2em(105px) px2em(35px)

@import "menu.icon"

.icon
  &.linked-in, &.twitter, &.github, &.facebook
    width: 35px
    height: 35px
  &.github
    background-position: 0 0
    &.gray
      background-position: -140px 0
  &.twitter
    background-position: -35px 0
    &.gray
      background-position: -175px 0
  &.linked-in
    background-position: -70px 0
    &.gray
      background-position: -210px 0
  &.facebook
    background-position: -105px 0
    &.gray
      background-position: -245px 0

  &.iterate, &.improve, &.disrupt
    width: 60px
    height: 68px
  &.improve
    background-position: -120px -35px
  &.iterate
    background-position: 0 -35px
  &.disrupt
    background-position: -60px -35px

  &.prev, &.next
    width: 35px
    height: 70px
  &.prev
    background-position: -190px -35px
  &.next
    background-position: -230px -35px
